section.section.technical-calculations 
  h2.title Технические расчеты и экспертиза
  .content
    div
      h4.subtitle Компания оказывает полный цикл консультаций и технической поддержки своим клиентам:
      ul 
        li консультирование архитекторов, заказчиков и других подрядных организаций по продуктам;
        li проведение всех необходимых расчетов для подбора оптимальной конфигурации и структуры остекления на тот или иной объект;
        li выезд технического специалиста непосредственно к переработчику стекла для подбора режимов работы оборудования и обеспечения качественной переработки стекла (резка, обработка, закалка и т.д.);
        li оперативное решение всех возникающих вопросов.
    .contacts-list
      .contacts-item 
        div
          .contacts-item__title Cлужба технической поддержки <br/> компании «Салаватстекло»
        .contacts-item__links
          .contacts-item__link
            +svg('phone',24)
            div 
              a(href="tel:+7 (347) 37-70-72") +7 (347) 37-70-72
              a(href="tel:+7 (3476) 37-71-18") +7 (3476) 37-71-18
          .contacts-item__link
            +svg("mail",24)
            a(href="mailto:support@rsalstek.ru") support@rsalstek.ru
      .contacts-item 
        div
          .contacts-item__title Cлужба технической поддержки <br/> компании «Салаватстекло»
        .contacts-item__links
          .contacts-item__link
            +svg('phone',24)
            div 
              a(href="tel:+7 (347) 37-70-72") +7 (347) 37-70-72
              
          .contacts-item__link
            +svg("mail",24)
            div
              a(href="mailto:support@rsalstek.ru") support@rsalstek.ru
              a(href="mailto:support@rsalstek.ru") support@rsalstek.ru