section.section.support-illiquid 
  .tabs
    .tabs__wrapper
      button.btn АО «Салаватстекло»
      button.btn-round АО «Саратовстройстекло»
  div    
    h2.title Продажа неликвидов в АО «Салаватстекло»
    .support-illiquid__wrapper
      div 
        p Группа реализации отходов производства и неликвидных ТМЦ реализует организациям и частным лицам неликвиды АО «Салаватстекло»:
        ul 
          li оборудование , б/у;
          li химические реактивы; 
          li неликвидные инструменты;
          li товары народного потребления. 
      .contacts-item 
        div
          .contacts-item__title Контакты
          .contacts-item__text Группа реализации отходов производства и неликвидов ТМЦ
        .contacts-item__links
          .contacts-item__link
            +svg('phone',24)
            div 
              a(href="tel:+7 (3476) 37-70-70") +7 (3476) 37-70-70
          .contacts-item__link
            +svg("mail",24)
            a(href="mailto:mnn85@salstek.ru") mnn85@salstek.ru