section.section.product-all 
  h3.title Все продукты
  .btns 
    div.btn-chips.btn-chips_disabled Архитектурные 
    a(href="#").btn-chips Интерьерные 
    a(href="#").btn-chips Оконные 
    a(href="#").btn-chips Безопасное стекло, стеклопакеты 
    a(href="#").btn-chips Стеклотара
    a(href="#").btn-chips Силикаты 