
mixin project()
  .project
    .project__top
      .country 
        img(src=require("/assets/images/test-flag.png"), alt="")
        span Казахстан
      h4.project__title Дворец водных видов спорта в Саратове
    .project__types
      .project__types-visible
      .project__types-count
        .project__types-count--wrapper
        .project__types-hidden
    template
      div.tooltip 122eqw
      div.tooltip 2
      div.tooltip 3
      //- div.tooltip 4
      //- div.tooltip 4
         
    .project__slider
      .swiper.small-slider
        .swiper-wrapper 
          .swiper-slide
            img(src=require("/assets/images/test.jpg"), alt="")
          .swiper-slide
            img(src=require("/assets/images/test.jpg"), alt="")
        .swiper-pagination
      
        button.prev
          +svg('back',24)
        button.next
          +svg('forward',24)

