section.section-first.about-company
  .section-first__top
    include ../../components/breadcrumbs.pug
    h2.title Карьера
    .links 
      a.btn(href="#") Преимущества работы в компании 
      a.btn-round(href="#") Вакансии
      a.btn-round(href="#") Профсоюзная организация
  .section-first__bottom
    img(src=require("/assets/images/head-bg/career.png"), alt="")
    .links 
      a.btn(href="#") Преимущества работы в компании 
      a.btn-round(href="#") Вакансии
      a.btn-round(href="#") Профсоюзная организация