section.header-second
  .header-second__top 
    div
      include ../../components/breadcrumbs.pug
      h2.title MultiComfort° Select One 
    
    .content-text
      p Архитектурное высокоселективное стекло нейтрального оттенка с двумя слоями серебра, создающими мощную защиту от внешнего воздействия.
      p Обладает низкой степенью зеркальности, выглядит изящно и придает легкость фасаду.
      p Благодаря уникальному покрытию на основе соединений серебра, стекло обладает высоким уровнем защиты от солнца, при этом пропускает максимум естественного света в помещение и сохраняет тепловую энергию внутри.
      p Стекла серии MultiComfort может подвергаться закаливанию для повышения безопасности.
  .header-second__bottom 
    img(src=require('/assets/images/head-bg/header-arh.jpg'), alt="")
    