include ../../components/svg.pug
section.section.regions 
  h2.title Поставляем продукты во все регионы России и в 13 стран ближнего зарубежья
  .regions__list
    .item
      +svg('armenia')
      span Армения
    .item
      +svg('belarus')
      span Беларусь
    .item
      +svg('georgia')
      span Грузия
    .item
      +svg('egypt')
      span Египет
    .item
      +svg('kazakhstan')
      span Казахстан
    .item
      +svg('kyrgyzstan')
      span Кыргызстан
    .item
      +svg('azerbaijan')
      span Азербайджан
    .item
      +svg('mongolia')
      span Монголия
    .item
      +svg('poland')
      span Польша
    .item
      +svg('serbia')
      span Сербия
    .item
      +svg('tajikistan')
      span Таджикистан
    .item
      +svg('turkey')
      span Турция
  
  include ../../components/map/index.pug