include ../../components/svg.pug
section.section.regions 
  h2.title Поставляем продукты во все регионы России и в 13 стран ближнего зарубежья
  //- div.regions__marquees
    marquee(truespeed='100' scrolldelay='100' scrollamount=20).regions__list
      .regions__list-wrapper
        .item
          +svg('armenia')
          span Армения
        .item
          +svg('belarus')
          span Беларусь
        .item
          +svg('georgia')
          span Грузия
        .item
          +svg('egypt')
          span Египет
        .item
          +svg('kazakhstan')
          span Казахстан
        .item
          +svg('kyrgyzstan')
          span Кыргызстан
        .item
          +svg('azerbaijan')
          span Азербайджан
        .item
          +svg('mongolia')
          span Монголия
        .item
          +svg('poland')
          span Польша
        .item
          +svg('serbia')
          span Сербия
        .item
          +svg('tajikistan')
          span Таджикистан
        .item
          +svg('turkey')
          span Турция
        .item
          +svg('armenia')
          span Армения
        .item
          +svg('belarus')
          span Беларусь
        .item
          +svg('georgia')
          span Грузия
        .item
          +svg('egypt')
          span Египет
        .item
          +svg('kazakhstan')
          span Казахстан
        .item
          +svg('kyrgyzstan')
          span Кыргызстан
        .item
          +svg('azerbaijan')
          span Азербайджан
        .item
          +svg('mongolia')
          span Монголия
        .item
          +svg('poland')
          span Польша
        .item
          +svg('serbia')
          span Сербия
        .item
          +svg('tajikistan')
          span Таджикистан
        .item
          +svg('turkey')
          span Турция
    marquee(direction='right' truespeed='100' scrolldelay='100' scrollamount=20).regions__list
      .regions__list-wrapper
        .item
          +svg('armenia')
          span Армения
        .item
          +svg('belarus')
          span Беларусь
        .item
          +svg('georgia')
          span Грузия
        .item
          +svg('egypt')
          span Египет
        .item
          +svg('kazakhstan')
          span Казахстан
        .item
          +svg('kyrgyzstan')
          span Кыргызстан
        .item
          +svg('azerbaijan')
          span Азербайджан
        .item
          +svg('mongolia')
          span Монголия
        .item
          +svg('poland')
          span Польша
        .item
          +svg('serbia')
          span Сербия
        .item
          +svg('tajikistan')
          span Таджикистан
        .item
          +svg('turkey')
          span Турция
        .item
          +svg('armenia')
          span Армения
        .item
          +svg('belarus')
          span Беларусь
        .item
          +svg('georgia')
          span Грузия
        .item
          +svg('egypt')
          span Египет
        .item
          +svg('kazakhstan')
          span Казахстан
        .item
          +svg('kyrgyzstan')
          span Кыргызстан
        .item
          +svg('azerbaijan')
          span Азербайджан
        .item
          +svg('mongolia')
          span Монголия
        .item
          +svg('poland')
          span Польша
        .item
          +svg('serbia')
          span Сербия
        .item
          +svg('tajikistan')
          span Таджикистан
        .item
          +svg('turkey')
          span Турция
  .marquee
    div(class="marquee__direction")
      .marquee__direction-container
        .marquee__direction-right
          .regions__marquees
            .regions__list  
              .regions__list-wrapper
                .item
                  +svg('armenia')
                  span Армения
                .item
                  +svg('belarus')
                  span Беларусь
                .item
                  +svg('georgia')
                  span Грузия
                .item
                  +svg('egypt')
                  span Египет
                .item
                  +svg('kazakhstan')
                  span Казахстан
                .item
                  +svg('kyrgyzstan')
                  span Кыргызстан
                .item
                  +svg('azerbaijan')
                  span Азербайджан
                .item
                  +svg('mongolia')
                  span Монголия
                .item
                  +svg('poland')
                  span Польша
                .item
                  +svg('serbia')
                  span Сербия
                .item
                  +svg('tajikistan')
                  span Таджикистан
                .item
                  +svg('turkey')
                  span Турция
                .item
                  +svg('armenia')
                  span Армения
                .item
                  +svg('belarus')
                  span Беларусь
                .item
                  +svg('georgia')
                  span Грузия
                .item
                  +svg('egypt')
                  span Египет
                .item
                  +svg('kazakhstan')
                  span Казахстан
                .item
                  +svg('kyrgyzstan')
                  span Кыргызстан
                .item
                  +svg('azerbaijan')
                  span Азербайджан
                .item
                  +svg('mongolia')
                  span Монголия
                .item
                  +svg('poland')
                  span Польша
                .item
                  +svg('serbia')
                  span Сербия
                .item
                  +svg('tajikistan')
                  span Таджикистан
                .item
                  +svg('turkey')
                  span Турция
        .marquee__direction-right
          .regions__marquees
            .regions__list  
              .regions__list-wrapper
                .item
                  +svg('armenia')
                  span Армения
                .item
                  +svg('belarus')
                  span Беларусь
                .item
                  +svg('georgia')
                  span Грузия
                .item
                  +svg('egypt')
                  span Египет
                .item
                  +svg('kazakhstan')
                  span Казахстан
                .item
                  +svg('kyrgyzstan')
                  span Кыргызстан
                .item
                  +svg('azerbaijan')
                  span Азербайджан
                .item
                  +svg('mongolia')
                  span Монголия
                .item
                  +svg('poland')
                  span Польша
                .item
                  +svg('serbia')
                  span Сербия
                .item
                  +svg('tajikistan')
                  span Таджикистан
                .item
                  +svg('turkey')
                  span Турция
                .item
                  +svg('armenia')
                  span Армения
                .item
                  +svg('belarus')
                  span Беларусь
                .item
                  +svg('georgia')
                  span Грузия
                .item
                  +svg('egypt')
                  span Египет
                .item
                  +svg('kazakhstan')
                  span Казахстан
                .item
                  +svg('kyrgyzstan')
                  span Кыргызстан
                .item
                  +svg('azerbaijan')
                  span Азербайджан
                .item
                  +svg('mongolia')
                  span Монголия
                .item
                  +svg('poland')
                  span Польша
                .item
                  +svg('serbia')
                  span Сербия
                .item
                  +svg('tajikistan')
                  span Таджикистан
                .item
                  +svg('turkey')
                  span Турция
    div(class="marquee__direction")
      .marquee__direction-container.left
        .marquee__direction-left
          .regions__marquees
            .regions__list  
              .regions__list-wrapper
                .item
                  +svg('armenia')
                  span Армения
                .item
                  +svg('belarus')
                  span Беларусь
                .item
                  +svg('georgia')
                  span Грузия
                .item
                  +svg('egypt')
                  span Египет
                .item
                  +svg('kazakhstan')
                  span Казахстан
                .item
                  +svg('kyrgyzstan')
                  span Кыргызстан
                .item
                  +svg('azerbaijan')
                  span Азербайджан
                .item
                  +svg('mongolia')
                  span Монголия
                .item
                  +svg('poland')
                  span Польша
                .item
                  +svg('serbia')
                  span Сербия
                .item
                  +svg('tajikistan')
                  span Таджикистан
                .item
                  +svg('turkey')
                  span Турция
                .item
                  +svg('armenia')
                  span Армения
                .item
                  +svg('belarus')
                  span Беларусь
                .item
                  +svg('georgia')
                  span Грузия
                .item
                  +svg('egypt')
                  span Египет
                .item
                  +svg('kazakhstan')
                  span Казахстан
                .item
                  +svg('kyrgyzstan')
                  span Кыргызстан
                .item
                  +svg('azerbaijan')
                  span Азербайджан
                .item
                  +svg('mongolia')
                  span Монголия
                .item
                  +svg('poland')
                  span Польша
                .item
                  +svg('serbia')
                  span Сербия
                .item
                  +svg('tajikistan')
                  span Таджикистан
                .item
                  +svg('turkey')
                  span Турция
        .marquee__direction-left
          .regions__marquees
            .regions__list  
              .regions__list-wrapper
                .item
                  +svg('armenia')
                  span Армения
                .item
                  +svg('belarus')
                  span Беларусь
                .item
                  +svg('georgia')
                  span Грузия
                .item
                  +svg('egypt')
                  span Египет
                .item
                  +svg('kazakhstan')
                  span Казахстан
                .item
                  +svg('kyrgyzstan')
                  span Кыргызстан
                .item
                  +svg('azerbaijan')
                  span Азербайджан
                .item
                  +svg('mongolia')
                  span Монголия
                .item
                  +svg('poland')
                  span Польша
                .item
                  +svg('serbia')
                  span Сербия
                .item
                  +svg('tajikistan')
                  span Таджикистан
                .item
                  +svg('turkey')
                  span Турция
                .item
                  +svg('armenia')
                  span Армения
                .item
                  +svg('belarus')
                  span Беларусь
                .item
                  +svg('georgia')
                  span Грузия
                .item
                  +svg('egypt')
                  span Египет
                .item
                  +svg('kazakhstan')
                  span Казахстан
                .item
                  +svg('kyrgyzstan')
                  span Кыргызстан
                .item
                  +svg('azerbaijan')
                  span Азербайджан
                .item
                  +svg('mongolia')
                  span Монголия
                .item
                  +svg('poland')
                  span Польша
                .item
                  +svg('serbia')
                  span Сербия
                .item
                  +svg('tajikistan')
                  span Таджикистан
                .item
                  +svg('turkey')
                  span Турция
      //- .marquee__direction-container.left
      //-   .marquee__direction-left
      //-     .regions__marquees
      //-       .regions__list  
      //-         .regions__list-wrapper
      //-           each item in [1,2,3,4,5,6]
      //-             .item
      //-               +svg('armenia')
      //-               span Армения
  
  include ../../components/map/index.pug