section.section.laboratory 
  h2.title Лаборатория
  .content
    .content-text 
      p Производственная и испытательная лаборатория АО «Салаватстекло», аккредитованная Федеральной службой по аккредитации в качестве Испытательной лаборатории, аттестат аккредитации № RA.RU.21СТ 46.
      p В область аккредитации лаборатории входят испытания листового, окрашенного в массе, закаленного, низкоэмиссионного, солнцезащитного, многофункционального, безопасного, многослойного, термоупрочненного стекол, силиката натрия растворимого, стекла жидкого, анализ сточных вод, промышленных выбросов.
      p В настоящее время идет подготовка к расширению области аккредитации за счет методик по контролю зеркал.
      
    .contacts-item 
      div
        .contacts-item__title Контакты
      .contacts-item__links
        .contacts-item__link
          +svg('phone',24)
          div 
            a(href="tel:+7 (3476) 37-70-55") +7 (3476) 37-70-55
        .contacts-item__link
          +svg("mail",24)
          a(href="mailto:civ091@salstek.ru") civ091@salstek.ru