include ../../components/svg.pug
include ../../components/edit.pug

include ../../components/quantity/index.pug
include ../../components/progress.pug
include ../../components/input.pug
include ../../components/textarea.pug
include ../../components/select/index.pug
button.btn(data-target="popup3" data-action="open") Open
include ../../components/rezume.pug
.modal(data-animate-open="fadeIn" data-animate-close="fadeOut" id="popup2")
  button.btn-fit.btn-close(data-target="popup2"  data-action="close") 
    +svg('close')
  .content 
    form#ordering.content__wrapper.stepper.ordering-samples-form
      .content__top 
        button.btn-close(data-target="popup2" data-action="close" type='button')
          +svg('close')
        .content__top-text--content 
          .content__title проверьте комплектацию заказа
          .content__text Проверьте комплектацию заказа и заполните контактную формы для отправки образцов
        div 
          .progresses 
            .progresses__wrapper
              +progress('Проверка комплектации заказа')(class="active")
              +progress('Контакные данные')
          .stepper__content
            .stepper__content-slide
              h2.stepper__content-title Проверка комплектации заказа
              div#ordering
              template#ordering-elements
                .item-label
                  .item-label__head
                    +svg("cheks",16)
                  .item-label__body
                .item-child
                  .item-child__label
                  .item-child__btns
                    .item-quantity
                      +quantity()
                    .item-child__count
                    button(type='button').item-action
                      +svg('dots', 24)
                  .item-edit
                    +edit()
                  
                .item-parent
                  .item-parent__label
                    +svg("cheks",16)
                  .item-parent__btns
                    .item-quantity
                      +quantity()
                    
                    .item-parent__count
                    button(type='button').item-action
                      +svg('dots', 24)
                  .item-edit
                    +edit()


            .stepper__content-slide
                h2.stepper__content-title Оставьте контакные данные
                .form__content
                  .fields
                    +input('organization','Название организации*')
                    +input('name','Фамилия Имя Отчество*')
                    +input('phone','Номер телефона*')(data-mask="+{7}(000)-000-00-00")
                    +input('email','E-mail')
                    +input('address','Адрес поставки*')
                    +textarea('comment','Комментарий ...')
                  p Отправляя форму, вы даёте своё согласие на обработку 
                    a(href="#") персональных данных
      .stepper__btns(data-step="first") 
        .content__bottom
          button.btn.btn-next(type='button') Продолжить
        //- .stepper__btns
        //-   button.btn.btn-back(type='button') Назад
      .stepper__btns
        .content__bottom
          button.btn.btn-back(type='button') Назад
          button.btn.btn-next(type='button') Продолжить
      .stepper__btns(data-step="last") 
        .content__bottom
          button.btn.btn-back(type='button') Назад
          button.btn(type='submit') Подтвердить заказ
          

.modal(data-animate-open="fadeIn" data-animate-close="fadeOut" id="popup")
  button.btn-fit.btn-close(data-target="popup"  data-action="close") 
    +svg('close')
  .content 
    form.content__wrapper
      .content__top 
        button.btn-close(data-target="popup" data-action="close")
          +svg('close')
        .content__top-text--content
          .content__title Связаться с менеджером
          .content__text Оставьте контактные данные
        .form__content
          .fields
            +input('name','Фамилия Имя Отчество*')
            +input('phone','Номер телефона*')(data-mask="+{7}(000)-000-00-00")
            +input('email','E-mail')
            +select('institute','Выберите завод', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
            +select('department','Выберите отдел', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
            +textarea('comment','Комментарий ...')
          p Отправляя форму, вы даёте своё согласие на обработку 
            a(href="#") персональных данных
          
      .content__bottom
        button.btn(type='submit' inc) Отправить
      
footer
  .container 
    .footer__wrapper
      .footer__mob
        .footer__mob-top
          .accordeon 
            .item.active
              .item__head 
                span О компании 
                +svg('down',24)(class='icon')
              .item__body 
                .item__body-wrapper
                  a.active(href="#") Структура холдинга
            .item
              .item__head 
                span Продукты
                +svg('down',24)(class='icon')
              .item__body 
                .item__body-wrapper
                  a(href="#") Структура холдинга
            .item
              a.item__head(href="#")
                span Продукты
        .footer__mob-bottom
          .content-other 
            a(href="#" class='logo') 
              +svg('logo', 112, 60)
            .phone-list
              .item 
                a(href="tel:+7 (3476) 37-71-55") +7 (3476) 37-71-55
                span АО «Салаватстекло»
              .item 
                a(href="tel:+7 (8452) 305-505") +7 (8452) 305-505
                span АО «Саратовстройстекло»
              .item 
                a(href="tel:8 800 770 02 08") 8 800 770 02 08
                span ООО «Салаватстекло Каспий»
            
            .links 
              a.btn-fit(href="#") 
                +svg('telega', 24)
              a.btn-fit(href="#") 
                +svg('youtube', 24)
            p © 2023 АО «Салаватстекло»<br/>При использовании материалов ссылка<br/>на сайт АО «Салаватстекло» обязательна
            a.politics(href="#") Политика обработки данных
            a.yesidea(href="#") 
              span 3D-визуализация, <br/> дизайн и разработка
              span.separator
              +svg('yesidea',76,24)
      .footer__desc
        .footer__desc-left 
          a(href="#" class='logo') 
            +svg('logo', 112, 60)
          .links 
            a.btn-fit(href="#") 
              +svg('telega', 24)
            a.btn-fit(href="#") 
              +svg('youtube', 24)
        .footer__desc-right
          .list 
            a.item(href="#") О компании
            a.item(href="#") Сервис и поддержка
            a.item(href="#") Новости и события
            a.item(href="#") Продукты
            a.item(href="#") Акционерам и инвесторам
            a.item(href="#") Партнеры
            a.item(href="#") Проекты
            a.item(href="#") Карьера
            a.item(href="#") Контакты 
          .content-other
            .content-other__left
              p © 2023 АО «Салаватстекло»<br/>При использовании материалов ссылка<br/>на сайт АО «Салаватстекло» обязательна
              a.politics(href="#") Политика обработки данных
            .content-other__right
              a(href="#") 
                span 3D-визуализация, <br/> дизайн и разработка
                span.separator
                +svg('yesidea',76,24)
          


