section.section-first.about-company
  .section-first__top
    include ../../components/breadcrumbs.pug
    h2.title О компании
    .links 
      a.btn(href="#") Структура холдинга
      a.btn-round(href="#") История холдинга
      a.btn-round(href="#") Менеджмент качества
      a.btn-round(href="#") Экология
      a.btn-round(href="#") Инновации
  .section-first__bottom
    img(src=require("/assets/images/head-bg/about-company.png"), alt="")
    .links 
      a.btn(href="#") Структура холдинга
      a.btn-round(href="#") История холдинга
      a.btn-round(href="#") Менеджмент качества
      a.btn-round(href="#") Экология
      a.btn-round(href="#") Инновации