.header-project(style="background-image: url(/images/head-bg/header-arh.jpg);")
  
  .header-project__top
    include ../../components/breadcrumbs.pug 
  .header-project__bottom 
    .list 
      .item 
        .country 
          img(src=require("/assets/images/test-flag.png"), alt="")
          span Казахстан
      .item
        div.tooltip 122eqw
    h2.title Дворец водных видов спорта в Саратове