include ../../components/svg.pug
section.section.mission 
  .mission__list
    .item
      h2.title Миссия
      p.text Наша миссия состоит в том, что бы делать мир более легким, светлым и безопасным, создавать особую атмосферу внутреннего и внешнего пространства, даря красоту, функциональность и комфорт для проживания и работы
    .item 
      h2.title Видение
      p.text Мы стремимся быть лидером международного уровня в области новаторских решений стекольной промышленности, объединяя усилия с партнёрами для создания совершенного облика городов, открывая новую эру светлого и прозрачного мира
    .item
      
      h2.title Ценности
      div.content-text
        p.text В своей работе мы ценим:
        ul
          li Силу традиций для будущего развития
          li Развитие человеческого потенциала
          li Безопасность условий труда и производства
          li Дружеские отношения с клиентами и партнёрами
          li Открытость и честность
          li Экологичность выпускаемой продукции
  .mission__video
    img(src=require("/assets/images/mission.jpg"), alt="")
    .play
      +svg('play')