include ../../components/svg.pug
include ../../components/project/index.pug  
include ../../components/select/index.pug
section.section.other-projects
  h2.title Другие проекты
  .list 
    +project()
    +project()
    +project()