include ../../components/svg.pug
include ../../components/downlItem.pug
section.section.trade-union 
  h2.title Профсоюзная организация АО «Салаватстекло»
  .trade-union__wrapper
    .list 
      .item
        .item__content
          h4.item__content-title   
            +svg('user-four',32)
            span Профсоюз АО «Салаватстекло»
          .item__content-text
            p Профсоюзная организация работников АО «Салаватстекло» является юридическим лицом с 1993 года, действует на основании Положения, Устава Профсоюза и законодательства о профсоюзах РФ. Действующий состав профсоюзного комитета был избран в октябре 2014 года. На данный момент в профсоюзе предприятия состоят 1228 человек.
        .item__contacts
          h4.item__contacts-title Председатель территориальной профсоюзной организации АО «Салаватстекло»
          .item__contacts-links
            .item__contacts-link 
              +svg('phone', 24)
              a(href="tel:+7 (3476) 37-76-91") +7 (3476) 37-76-91
            .item__contacts-link 
              +svg('browser', 24)
              a(href="#") profsalstek.ru
      .item
        .item__content
          h4.item__content-title   
            +svg('user-four',32)
            span Здравпункт
          .item__content-text 
            p На страже здоровья работников компании «Салаватстекло» стоит фельдшерский здравпункт, который работает ежедневно с 07.30 до 21.00 часов (без перерыва и выходных).
            p Главной задачей фельдшеров здравпункта является оказание экстренной и неотложной помощи при травмах, внезапных заболеваниях, отравлениях и тяжелых состояниях.
        .item__contacts
          h4.item__contacts-title Заведующий здравпунктом
          .item__contacts-links
            .item__contacts-link 
              +svg('phone', 24)
              a(href="tel:+7 (3476) 37-72-03") +7 (3476) 37-72-03
      .item
        .item__content
          h4.item__content-title   
            +svg('user-four',32)
            span ЗдравпунктПрофсоюз АО «Саратовстройстекло»
          .item__content-text 
            .item__text(class='lg2:hidden') Главной целью Профсоюза является реализация уставных задач  по представительству и защите социально-трудовых прав и профессиональных интересов работающих.
            p На страже здоровья работников компании «Салаватстекло» стоит фельдшерский здравпункт, который работает ежедневно с 07.30 до 21.00 часов (без перерыва и выходных).
            p Главной задачей фельдшеров здравпункта является оказание экстренной и неотложной помощи при травмах, внезапных заболеваниях, отравлениях и тяжелых состояниях.
        .item__text(class="hidden lg2:block") Главной целью Профсоюза является реализация уставных задач  по представительству и защите социально-трудовых прав и профессиональных интересов работающих.
         
    .download-list         
      h3.download-list__title Документы для скачивания
      ul 
        each val in [1, 2, 3, 4, 5,6,7]
          li 
            +downlItem('Название документа', 'doc, 247.0 Кб','file')