section.section.vacancies
  .tabs
      .tabs__wrapper
        button.btn АО «Салаватстекло»
        button.btn-round АО «Саратовстройстекло»
        button.btn-round ООО «Салаватстекло Каспий»        
        
  h2.title 
   span Вакансии
   span.count 3
  
  .list 
    each val in [1, 2, 3, 4, 5]
      .vacancy
        .vacancy__top
          div
            h4.vacancy__title Инженер по промышленной безопасности 1 категории
            div 
              p.vacancy__text Опыт: от 1 года до 3 лет
              //- p.item__text г. Салават
          //- .item__price от 45 000 руб.
        p.text Ищем менеджера по работе с клиентами для консультирования, обработки заказов и поддержания клиентских отношений. Требуются отличные коммуникативные навыки и опыт работы в сфере обслуживания клиентов.
        .accordeon.accordeon__info  
          .item
            .item__body 
              .item__body-wrapper
                div 
                  .vacancy__middle
                    div
                      h5.vacancy__subtitle Обязанности:
                      ul 
                        li Осуществление контроля за соблюдением требований законодательства Российской Федерации в области промышленной безопасности и Федеральных норм и правил при эксплуатации технических устройств на ОПО
                        li Осуществление контроля за соблюдением требований законодательства Российской Федерации в области промышленной безопасности и Федеральных норм и правил при эксплуатации технических устройств на ОПО
                    div
                      h5.vacancy__subtitle Требования:
                      ul 
                        li Образование: высшее (техническое)
                        li Образование: высшее (техническое)
                  
            .item__head()
              span(style="--before-content:'test'")
              +svg('down',16)(class='icon')
        

        .vacancy__bottom
          button.btn-round(data-theme="the,"  data-target="rezume-modal" data-action="open") Откликнуться 