section.section.trade-union
  .tabs
      .tabs__wrapper
        button.btn АО «Салаватстекло»
        button.btn-round АО «Саратовстройстекло»
        button.btn-round ООО «Салаватстекло Каспий»        
        
  h2.title 
   span Вакансии
   span.count 3
  .list 
    each val in [1, 2, 3, 4, 5]
      .item
        .item__top
          div
            h4.item__title Инженер по промышленной безопасности 1 категории
            div 
              p.item__text Опыт: от 1 года до 3 лет
              p.item__text г. Салават
          .item__price от 45 000 руб.
        .item__middle
          div
            h5.item__subtitle Обязанности:
            ul 
              li Осуществление контроля за соблюдением требований законодательства Российской Федерации в области промышленной безопасности и Федеральных норм и правил при эксплуатации технических устройств на ОПО
              li Осуществление контроля за соблюдением требований законодательства Российской Федерации в области промышленной безопасности и Федеральных норм и правил при эксплуатации технических устройств на ОПО
          div
            h5.item__subtitle Требования:
            ul 
              li Образование: высшее (техническое)
              li Образование: высшее (техническое)
        .item__bottom
          a(href="#").btn-round Откликнуться 