section.section.product-testing 
  h2.title Перечень испытаний продукции
  .product-testing__content
    div
      h4.subtitle Участок по контролю листового, безопасного стекол и стеклопакетов
      ul
        li Оптические искажения стекла, видимые в проходящем свете (на установке «Зебра»)
        li Оптические искажения стекла, видимые в проходящем свете (на установке «Кирпичная стена»)
        li Оптические искажения, видимые в отраженном свете (искажение отраженного растра)
        li Коэффициент пропускания света
        li Коэффициент отражения света
        li Разность хода при двулучепреломлении (количество остаточных напряжений)
        li Стойкость к ультрафиолетовому излучению
        li Механическая прочность закаленных стекол
        li Класс защиты закаленных стекол
        li Характер разрушения закаленных стекол
        li Геометрические размеры, отклонение от плоскостности стекол с покрытием
        li Контроль пороков стекол с покрытием
    div
      h4.subtitle Участок по контролю стекол с покрытием
      ul
        li Коэффициент общего пропускания солнечной энергии (солнечный фактор)
        li Коэффициент пропускания ультрафиолетового излучения
        li Коэффициент затенения
        li Цветовые координаты
        li Коэффициент эмиссии
        li Стойкость покрытия к воздействию воздушной среды
    div
      h4.subtitle Аналитический участок
      ul
        li Силикат натрия растворимый (массовая доля оксида кремния, массовая доля оксида натрия).
        li Стекло натриевое жидкое (внешний вид, массовая доля двуокиси кремния, массовая доля окиси натрия, силикатный модуль, плотность)