include ../../components/svg.pug
include ../../components/project/index.pug  
include ../../components/select/index.pug
section.section.project-list 
  div(class='overflow-hidden')
    //- .swiper.mySwiper
    //-   .swiper-wrapper
    //-     .swiper-slide
    //-       +select('institute','Категория объекта', {name:1,val:'0'})
    //-     .swiper-slide
    //-       +select('institute','Категория объекта', {name:1,val:'0'})
    //-     .swiper-slide
    //-       +select('institute','Категория объекта', {name:1,val:'0'})
    //-     .swiper-slide
    //-       +select('institute','Категория объекта', {name:1,val:'0'})
    //-   .swiper-scrollbar
  .filters
    +select('institute','Категория объекта', {name:1,val:'0'})
    +select('institute','Продукт', {name:1,val:'0'})
    +select('institute','Вид стекла', {name:1,val:'0'})
    +select('institute','Все города', {name:1,val:'0'})
  .list 
    each val in [1, 2, 3, 4, 5]
      +project()
  .btn-show
    button.btn-round
      +svg('eye',24)
      span Показать еще