include ../../components/svg.pug
include ../../components/project/index.pug  
include ../../components/select/index2.pug
section.section.project-list 
  div(class='overflow-hidden')
    //- .swiper.mySwiper
    //-   .swiper-wrapper
    //-     .swiper-slide
    //-       +select('institute','Категория объекта', {name:1,val:'0'})
    //-     .swiper-slide
    //-       +select('institute','Категория объекта', {name:1,val:'0'})
    //-     .swiper-slide
    //-       +select('institute','Категория объекта', {name:1,val:'0'})
    //-     .swiper-slide
    //-       +select('institute','Категория объекта', {name:1,val:'0'})
    //-   .swiper-scrollbar
  form.filters
    +select('institute','Категория объекта', [{name:1,val:'0',childs:[{name:1,val:'0'},{name:2,val:'1'},{name:4,val:'04'}]},{name:2,val:'1'},{name:3,val:'2'}])
    +select('institute','Продукт', [{name:2,val:'1'},{name:3,val:'2'}])
    +select('institute','Вид стекла', [{name:2,val:'1'},{name:3,val:'2'}])
    +select('institute','Все города', [{name:2,val:'1'},{name:3,val:'2'}])
    button.btn Применить
  .list 
    each val in [1, 2, 3, 4, 5]
      +project()
  .btn-show
    button.btn-round
      +svg('eye',24)
      span Показать еще