section.section-first
  .section-first__top
    include ../../components/breadcrumbs.pug
    h2.title Безопасное стекло <br/> и стеклопакеты

  .section-first__bottom
    img(src=require("/assets/images/head-bg/safe-glass.png"), alt="")