section.section-first.about-company
  .section-first__top
    include ../../components/breadcrumbs.pug
    h2.title Сервис и поддержка
    .links 
      a.btn(href="#") Технические расчеты и экспертиза, приложения
      a.btn-round(href="#") Лаборатория
      a.btn-round(href="#") Рекламные материалы
      a.btn-round(href="#") Продажа неликвидов
      a.btn-round(href="#") Документы
      
  .section-first__bottom
    img(src=require("/assets/images/head-bg/support.png"), alt="")
    .links 
      a.btn(href="#") Технические расчеты и экспертиза, приложения
      a.btn-round(href="#") Лаборатория
      a.btn-round(href="#") Рекламные материалы
      a.btn-round(href="#") Продажа неликвидов
      a.btn-round(href="#") Документы

      