mixin select4(name,placeholder, ...items)
  .select(data-sel2) 
    input(type="text" name=name hidden)
    .select__head #{placeholder}
    .select__body  
      .select__body-wrapper
        .select__options 
          each item in items
            div(data-val=item.val) #{item.name}
  