section.section.other-news 
  h2.title Читать другие новости
  .list 
    a(href="#").item
      .tag экология
      .item__bottom
        .item__date 10 февраля 2023 г.
        h4.item__descr С заботой об экологии: компания «Салаватстекло» выпускает зеркала без применения меди и свинца
    a(href="#").item
      .tag экология
      .item__bottom
        .item__date 10 февраля 2023 г.
        h4.item__descr С заботой об экологии: компания «Салаватстекло» выпускает зеркала без применения меди и свинца
    a(href="#").item
      .tag экология
      .item__bottom
        .item__date 10 февраля 2023 г.
        h4.item__descr С заботой об экологии: компания «Салаватстекло» выпускает зеркала без применения меди и свинца
    a(href="#").item
      .tag экология
      .item__bottom
        .item__date 10 февраля 2023 г.
        h4.item__descr С заботой об экологии: компания «Салаватстекло» выпускает зеркала без применения меди и свинца
    