include ../../components/svg.pug
section.header-second.header-glass-configurator
  .header-second__top 
    div
      include ../../components/breadcrumbs.pug
      h2.title Бутылка бесцветная 
    .content-text
      p Конфигуратор «Салаватстекло» —профессиональный инструмент для самостоятельного расчета светотехнических и теплотехнических характеристик всех видов стекла в моноостеклении, в однокамерных и двухкамерных стеклопакетах для определенных регионов.
  .header-second__bottom 
    img(src=require('/assets/images/head-bg/header-glass-configurator.png'), alt="")
    