section.section.about
  .about__top 
    .about__top-content
      h2.title О компании
      p.text АО «Салаватстекло» — это комплекс современных высокотехнологичных производств стекольной отрасли, предлагающий множество актуальных решений для строительства и промышленности.
    img(src=require("/assets/images/about.png"), alt="")
  .about__bottom
    .item
      .item__title >60 лет
      .item__subtitle на рынке
    .item
      .item__title >100 видов
      .item__subtitle выпускаемой продукции
    .item
      .item__title 3 завода
      .item__subtitle производственные площадки
    .item
      .item__title 2 линии
      .item__subtitle производства архитектурного стекла и стекла с покрытием
    .item
      .item__title 4 флоат-линии
      .item__subtitle производства листового стекла
    .item
      .item__title 2450 тонн
      .item__subtitle листового стекла в сутки
    .item
      .item__title 14 млн м2/г
      .item__subtitle стекла с покрытием
    .item
      .item__title 4 млн м2/г
      .item__subtitle зеркала и стекла с лакокрасочным покрытием
