include ../../components/svg.pug
section.section.ecology
  h2.title Экология
  .ecology__wrapper
    .indicator
      p.subtitle Предприятие ведет комплексную работу по снижению воздействия на окружающую среду       
      .indicator__list 
        .item 
          .item__text Внедрение новых природоохранных технологий, установка автоматических систем контроля выбросов загрязняющих веществ и т.д.            
          img.item__img(src=require('/assets/images/test.jpg'), alt="") 
        .item 
          
          .item__text Применение в производстве стеклянного вторсырья позволяет экономить природные ресурсы, снижать воздействие на окружающую природу, обеспечивать экологическую безопасность.
          img.item__img(src=require('/assets/images/test.jpg'), alt="") 
        .item 
          
          .item__text Поддержание чистоты и порядка на территории предприятия. Благоустройство прилегающей территории: укладка газона, высадка деревьев, проведение субботников и т.д.
          img.item__img(src=require('/assets/images/test.jpg'), alt="") 
        .item 
          
          .item__text Установка на территории производств контейнеров для раздельного сбора мусора (пластика и макулатуры).       
          img.item__img(src=require('/assets/images/test.jpg'), alt="") 
    
    .advantages 
      p.subtitle Продукция с улучшенными экологическими характеристиками:
      .advantages__list 
        .item
          .item__top
            .item__title Энергосберегающие стекла
            .item__text Обладают высокими показателями энергоэффективности, способствуют снижению потребления электроэнергии на обогрев, кондиционирование и искусственное освещение.
          .item__bottom
            +svg("saving-glass")
        .item
          .item__top
            .item__title Экологичные материалы
            .item__text Магнетронные и лакокрасочные покрытия не содержат вредных для окружающей среды тяжелых металлов и химикатов, что позволяет применять изделия даже в больницах и детских садах. Зеркала производятся по безмедной технологии с отсутствием свинца в защитных красках.
          .item__bottom
            +svg("ecology-materials")
        
