extend ../layouts/main.pug
block top
  include ../sections/about-company/index.pug  
block content
  include ../sections/structure/index.pug
  include ../sections/mission/index.pug
  include ../sections/awards/index.pug
  include ../sections/standarts/index2.pug
  include ../sections/standarts/index.pug
  include ../sections/history/index.pug
  include ../sections/delusion-system/index.pug
  include ../sections/innovative-activity/index.pug
  include ../sections/docs-download/index.pug
  include ../sections/ecology/index.pug
  
  
  include ../sections/writeToUs/index.pug
  
  