extend ../layouts/main.pug
include ../components/svg.pug
block top
  include ../sections/header-career/index.pug  
block content
  include ../sections/advantages/index.pug
  section.btns-section 
    button(data-target="rezume-modal" data-action="open").btn-section 
        div
          .label Заполните форму
          span Отправить резюме
        +svg('forward',24)
  include ../sections/writeToUs/index.pug
  include ../sections/vacancies/index.pug
  include ../sections/trade-union/index.pug
  