extend ../layouts/main.pug
include ../components/svg.pug
block top
  include ../sections/header-contacts/index.pug  
block content
  include ../sections/contacts-links/index.pug
  include ../sections/contacts-data/index.pug
  include ../sections/writeToUs/index.pug
  