
extend ../layouts/main.pug
include ../components/svg.pug
block top
  include ../sections/header-glass-configurator/index.pug  
block content
  
  include ../sections/download-docs/index.pug
  include ../sections/product-all/index.pug
  
  
  