extend ../layouts/main.pug
block top
  include ../sections/news-item-head/index.pug  
block content
  include ../sections/news-item/index.pug
  include ../sections/other-news/index.pug
  include ../sections/news/index.pug
  include ../sections/writeToUs/index.pug
  