
extend ../layouts/main.pug
include ../components/svg.pug
block top
  include ../sections/header-glassotar/index.pug  
block content
  
  include ../sections/characteristics-glassotar/index.pug
  include ../sections/product-all/index.pug
  
  
  