
extend ../layouts/main.pug
include ../components/svg.pug
//- block top
block content
  
    

  include ../sections/header-product-arh/index.pug  
  
  include ../sections/characteristics/index.pug
  include ../sections/project-used/index.pug
  include ../sections/other-projects/index.pug
  include ../sections/product-all/index.pug
  
  section.btns-section 
    a(href="#").btn-section 
        span Заказ образцов
        +svg('forward',24)
    a(href="#").btn-section 
      span Конфигуратор расчета стеклопакетов
      +svg('forward',24)
  include ../sections/writeToUs/index.pug
  
  