extend ../layouts/main.pug
block top
  include ../sections/products-head/index.pug  
block content
  include ../sections/product-list/index.pug
  include ../sections/writeToUs/index.pug
  section.btns-section 
    a(href="#").btn-section 
        span Заказ образцов
        +svg('forward',24)
    a(href="#").btn-section 
      span Конфигуратор расчета стеклопакетов
      +svg('forward',24)
  