
extend ../layouts/main.pug
include ../components/svg.pug
block top
  include ../sections/product-silicat-head/index.pug  
block content
  include ../sections/product-section/index.pug
  include ../sections/product-all/index.pug
  include ../sections/writeToUs/index.pug
  
  
  