
extend ../layouts/main.pug
include ../components/svg.pug
block top
  include ../sections/header-product-arh/index.pug  
block content
  include ../sections/product-section/index.pug
  include ../sections/product-all/index.pug
  section.btns-section 
    a(href="#").btn-section 
        span Заказ образцов
        +svg('forward',24)
    a(href="#").btn-section 
      span Конфигуратор расчета стеклопакетов
      +svg('forward',24)
  include ../sections/writeToUs/index.pug
  
  