extend ../layouts/main.pug
block top
  include ../sections/product-saveglass-head/index.pug  
block content
  include ../sections/product-saveglass/index.pug
  include ../sections/product-all/index.pug
  include ../sections/writeToUs/index.pug
  include ../sections/btns-section/index.pug
  