extend ../layouts/main.pug
include ../components/svg.pug
block top
  include ../sections/header-shareholders/index.pug  
block content
  include ../sections/shareholders/index.pug
  include ../sections/writeToUs/index.pug