
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body(class="grid gap-4")
    a(href="/" target="_blank") Главная 
    a(href="404.html" target="_blank") 404
    a(href="about-company.html" target="_blank") about-company
    a(href="career.html" target="_blank") career
    a(href="contacts.html" target="_blank") contacts
    a(href="glass-configurator.html" target="_blank") glass-configurator
    a(href="news-item.html" target="_blank") news-item
    a(href="news.html" target="_blank") news
    a(href="product-arh-item.html" target="_blank") product-arh-item
    a(href="product-arh-item2.html" target="_blank") product-arh-item2
    a(href="product-arh.html" target="_blank") product-arh
    a(href="product-glassotar-item.html" target="_blank") product-glassotar-item
    a(href="product-glassotar.html" target="_blank") product-glassotar
    a(href="product-intr-item.html" target="_blank") product-intr-item
    a(href="product-intr.html" target="_blank") product-intr
    a(href="product-saveglass-item.html" target="_blank") product-saveglass-item
    a(href="product-saveglass.html" target="_blank") product-saveglass
    a(href="product-silicat.html" target="_blank") product-silicat
    a(href="product-window-item.html" target="_blank") product-window-item
    a(href="product-window.html" target="_blank") product-window
    a(href="products.html" target="_blank") products
    a(href="project-item.html" target="_blank") project-item
    a(href="projects.html" target="_blank") projects
    a(href="shareholders-investors.html" target="_blank") shareholders-investors
    a(href="support.html" target="_blank") support