include ../svg.pug
.swiper.general-slider
  .swiper-wrapper
    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-1.jpg')
      .container
        .content
          h1.title 3 производства
          p.text осуществляют поставки в любые точки континента
    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-2.jpg')
      .container
        .content
          h1.title 2450 тонн
          p.text листового стекла в сутки
    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-2.jpg')
      .container
        .content
          h1.title более 60 лет
          p.text опыта производства
    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-2.jpg')
      .container
        .content
          h1.title 2 линии
          p.text производства архитектурного стекла и стекла с покрытием
    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-2.jpg')
      .container
        .content
          h1.title Производство с заботой
          p.text об окружающей среде и экологии
    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-2.jpg')
      .container
        .content
          h1.title Надёжный <br/> работодатель
          p.text Подзаголовок
    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-2.jpg')
      .container
        .content
          h1.title производство
          p.text теплосберегающего и энергоэффективного стекла
  .swiper-pagination
  .btn-controls
    .btn-prev
      +svg('back')
    .btn-next
      +svg('forward')
