section.section.product-list 
  .list 
    a(href="#").item 
      .item__top 
        h4.item__title Архитектурные
        p.text Архитектурные стекла с низкоэмиссионным, солнцезащитным и многофункциональным покрытием производятся по инновационной технологии путем ионно-плазменного напыления в вакууме слоев различных металлов на поверхность прозрачного стекла.
      .item__bottom 
        img(src=require("/assets/images/test.jpg"), alt="")
    a(href="#").item 
      .item__top 
        h4.item__title Архитектурные
        p.text Архитектурные стекла с низкоэмиссионным, солнцезащитным и многофункциональным покрытием производятся по инновационной технологии путем ионно-плазменного напыления в вакууме слоев различных металлов на поверхность прозрачного стекла.
      .item__bottom 
        img(src=require("/assets/images/test.jpg"), alt="")
    a(href="#").item 
      .item__top 
        h4.item__title Архитектурные
        p.text Архитектурные стекла с низкоэмиссионным, солнцезащитным и многофункциональным покрытием производятся по инновационной технологии путем ионно-плазменного напыления в вакууме слоев различных металлов на поверхность прозрачного стекла.
      .item__bottom 
        img(src=require("/assets/images/test.jpg"), alt="")
    a(href="#").item 
      .item__top 
        h4.item__title Архитектурные
        p.text Архитектурные стекла с низкоэмиссионным, солнцезащитным и многофункциональным покрытием производятся по инновационной технологии путем ионно-плазменного напыления в вакууме слоев различных металлов на поверхность прозрачного стекла.
      .item__bottom 
        img(src=require("/assets/images/test.jpg"), alt="")