section.section.characteristics-glassotar 
  h2.title Характеристики MultiComfort° Select One 
  .list 
    .item   
      .item__title Артикул
      ul 
        li В-500-28
    .item   
      .item__title Артикул
      ul 
        li В-500-28
    .item   
      .item__title Артикул
      ul 
        li В-500-28
    .item   
      .item__title Артикул
      ul 
        li В-500-28