include ./svg.pug
include ./textareaFixed.pug
include ./inputFixed/index.pug
include ./inputFile/index.pug
include ./downlItem.pug
include  ./select/index3.pug
.modal(data-animate-open="fadeIn" data-animate-close="fadeOut" id="rezume-modal" class="animate__faster")
  button.btn-fit.btn-close(data-target="rezume-modal"  data-action="close") 
    +svg('close')
  .content 
    form#rezume.content__wrapper.stepper.ordering-samples-form
      .content__top 
        button.btn-close(data-target="rezume-modal" data-action="close" type='button')
          +svg('close')
        .content__top-text--content 
          .content__title проверьте комплектацию заказа
          .info
            .info__title Вы можете воспользоваться формой ниже, или скачать шаблон резюме, <br class='hidden lg2:block'> заполнить его, и отправить по адресу puu7@salstek.ru
            .accordeon  
              .item
                .item__body 
                  .item__body-wrapper
                    div 
                      .info__content 
                        .info__contact
                          p Контакты отдела по работе <br> с персоналом АО «Салаватстекло»
                          .info__contact-links
                            .info__contact-link 
                              +svg('phone', 24)
                              a(href="tel:+7 (3476) 37-72-24") +7 (3476) 37-72-24
                            .info__contact-link
                              +svg('mail', 24)
                              a(href="mailto:puu7@salstek.ru") puu7@salstek.ru
                        .info__doc 
                          h4 Документ для скачивания
                          +downlItem('Название документа', 'doc, 247.0 Кб','file')
                .item__head 
                  +svg('down',24)(class='icon')
        div 
          .progresses 
            .progresses__wrapper
              +progress('Личная информация')(class="active")
              +progress('Должность')
              +progress('Образование')
              +progress('Опыт работы')
              +progress('Дополнительно')
              
              
              
          .stepper__content
            .stepper__content-slide
              h2.stepper__content-title Личная информация
              .rezume-fields
                +inputFile('rezume','Прикрепить резюме')
                +inputFixed('surname','Фамилия', 'Иванов')
                +inputFixed('name','Имя', 'Иван')
                +inputFixed('patronymic','Отчество', 'Иванович')
                +inputFile('photo','Прикрепить фото')
                +inputFixed('date_birth','Дата рождения')(datepicker)
                +select('family_status','Семейное положение','Выбрать', {name:"Женат(Замужем)",val:'Женат(Замужем)'},{name:"Холост",val:'Холост'})
                +select('amount_children','Количество детей', 'Выбрать',{name:1,val:'1',choose:true},{name:2,val:'3'},{name:4,val:'4'},{name:5,val:'5'},{name:6,val:'6'},{name:7,val:'7'},{name:8,val:'8'})
                +inputFixed('citizenship','Гражданство', 'Российская Федерация')(value="Российская Федерация")
                +inputFixed('city','Город', 'Салават')
                +inputFixed('phone','Контактный телефон', '+7 (999) 999 - 99 - 99')(data-mask="+{7}(000)-000-00-00")
                +inputFixed('mail','E-mail', 'mail@mail.com')
                +inputFixed('messengers','Мессенджеры', 'Skype, Telegram и др.')
            .stepper__content-slide
              h2.stepper__content-title Должность
              .rezume-fields
              
                +select('job_title','Желаемая должность','Выберите должность', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +textareaFixed('working_conditions','Условия работы', 'Комментарий ...')
                +inputFixed('income','Доход от', '000 000', 'text', 'rub')
                label(data-id='1').checkbox 
                  .checkbox__wrapper
                    input(type="checkbox" name="income_agreement" hidden).checkbox__input
                    svg.checkbox__icon(viewbox='0 0 22 22')
                      path.tick(stroke='#366EF6' fill='none' stroke-linecap='round' stroke-width='2' d='M6 10l4 4 6-6')
                      rect(width='21' height='21' x='.5' y='.5' fill='#FFF' stroke='#7B93A7' stroke-width='1.4' rx='3')
                    span.checkbox__label По договоренности
            
            .stepper__content-slide
              h2.stepper__content-title Образование
              .rezume__content
                .rezume__content__title Основное образование
                .rezume__content__list(data-content='basic-education')
                  .item
                    .rezume-fields
                      +select('level_education','Уровень образования','Выберите уровень образования', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                      +textareaFixed('educational_institution','Учебное заведение', 'Комментарий ...')
                      +inputFixed('city_education','Город', 'Уфа')
                      .rezume-fields__period
                        .label Период учебы
                        .rezume-fields__period-selects
                          +select('period_from','','2005', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                          .rezume-fields__period-from(data-from)
                            span —
                            +select('period_to','','2006', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                        label(data-id='1').checkbox 
                          .checkbox__wrapper
                            input(type="checkbox" name="continue_education" hidden).checkbox__input
                            svg.checkbox__icon(viewbox='0 0 22 22')
                              path.tick(stroke='#366EF6' fill='none' stroke-linecap='round' stroke-width='2' d='M6 10l4 4 6-6')
                              rect(width='21' height='21' x='.5' y='.5' fill='#FFF' stroke='#7B93A7' stroke-width='1.4' rx='3')
                            span.checkbox__label Продолжаю учиться
                      +textareaFixed('faculty','Факультет', 'Комментарий ...')
                      +textareaFixed('speciality','Специальность', 'Комментарий ...')
                      +textareaFixed('qualification','Квалификация', 'Комментарий ...')
                      +inputFixed('average_score','Средний балл', '00')
                button.btn-round(type='button' data-add data-id='basic-education')
                  +svg('plus', 24)
                  span Добавить

              .rezume__content
                .rezume__content__title Дополнительное образование <br/> (курсы, семинары)      
                .rezume__content__list(data-content)
                  .item
                    .rezume-fields
                      +inputFixed('name_training_organization','Наименование обучающей организации', 'Наименование')
                      +inputFixed('name_training_program','Название программы обучения', 'Название ')
                      +textareaFixed('educational_institution_org','Учебное заведение', 'Комментарий ...')
                      +inputFixed('number_hours','Количество часов', '100 ')
                      +select('year_study','Год обучения','2000', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                      +select('level_education_org','Уровень образования','Выберите уровень образования', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                button.btn-round(type='button' data-add data-id='additional-education')
                  +svg('plus', 24)
                  span Добавить
              template#additional-education
                .item(data-content)
                  .rezume-fields
                    +inputFixed('name_training_organization','Наименование обучающей организации', 'Наименование')
                    +inputFixed('name_training_program','Название программы обучения', 'Название ')
                    +textareaFixed('educational_institution_org','Учебное заведение', 'Комментарий ...')
                    +inputFixed('number_hours','Количество часов', '100 ')
                    +select('year_study','Год обучения','2000', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                    +select('level_education_org','Уровень образования','Выберите уровень образования', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                    button.btn-red(type='button' data-remove)
                        +svg('trash', 24)
                        span Удалить
              template#basic-education
                .item(data-content)
                  .rezume-fields
                    +select('level_education','Уровень образования','Выберите уровень образования', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                    +textareaFixed('educational_institution','Учебное заведение', 'Комментарий ...')
                    +inputFixed('city_education','Город', 'Уфа')
                    .rezume-fields__period
                      .label Период учебы
                      .rezume-fields__period-selects
                        +select('period_from','','2005', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                        .rezume-fields__period-from(data-from)
                          span —
                          +select('period_to','','2006', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                      label(data-id='1').checkbox 
                        .checkbox__wrapper
                          input(type="checkbox" name="continue_education" hidden).checkbox__input
                          svg.checkbox__icon(viewbox='0 0 22 22')
                            path.tick(stroke='#366EF6' fill='none' stroke-linecap='round' stroke-width='2' d='M6 10l4 4 6-6')
                            rect(width='21' height='21' x='.5' y='.5' fill='#FFF' stroke='#7B93A7' stroke-width='1.4' rx='3')
                          span.checkbox__label Продолжаю учиться
                    +textareaFixed('faculty','Факультет', 'Комментарий ...')
                    +textareaFixed('speciality','Специальность', 'Комментарий ...')
                    +textareaFixed('qualification','Квалификация', 'Комментарий ...')
                    +inputFixed('average_score','Средний балл', '00')
                    button.btn-red(type='button' data-remove)
                      +svg('trash', 24)
                      span Удалить
            .stepper__content-slide
              h2.stepper__content-title Опыт работы
              .rezume__content
                
                .rezume__content__list(data-content='experience')
                  .item
                    .rezume-fields
                      +inputFixed('job_title_history','Должность', 'Должность')
                      +inputFixed('company_history','Компания', 'Компания')
                      +inputFixed('city_company_history','Город', 'Уфа')
                      +inputFixed('industry_history','Отрасль', 'Строительство')
                      .rezume-fields__period
                        .label Период работы
                        .rezume-fields__period-selects
                          .rezume-fields__period-from(data-from)
                            +select('period_job_from_month','','Октябрь', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                            +select('period_job_from_year','','2005', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                          .rezume-fields__period-from(data-to)
                            span —
                            +select('period_job_to_month','','Октябрь', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                            +select('period_job_to_year','','2005', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                      +textareaFixed('responsibilities','Обязанности и функции', 'Комментарий ...')
                button.btn-round(type='button' data-add data-id='experience')
                  +svg('plus', 24)
                  span Добавить
              template#experience
                .item(data-content)
                  .rezume-fields
                    +inputFixed('job_title_history','Должность', 'Должность')
                    +inputFixed('company_history','Компания', 'Компания')
                    +inputFixed('city_company_history','Город', 'Уфа')
                    +inputFixed('industry_history','Отрасль', 'Строительство')
                    .rezume-fields__period
                      .label Период работы
                      .rezume-fields__period-selects
                        .rezume-fields__period-from(data-from)
                          +select('period_job_from_month','','Октябрь', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                          +select('period_job_from_year','','2005', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                        .rezume-fields__period-from(data-to)
                          span —
                          +select('period_job_to_month','','Октябрь', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                          +select('period_job_to_year','','2005', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                    +textareaFixed('responsibilities','Обязанности и функции', 'Комментарий ...')
                    button.btn-red(type='button' data-remove)
                        +svg('trash', 24)
                        span Удалить
            .stepper__content-slide
              h2.stepper__content-title Дополнительно
              .rezume-fields
                +select('knowledge_languages','Знание языков','Выберите языки', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +inputFixed('another_language','Другой язык', 'Другой язык ')
                +select('level_ownership','Уровень владения','Выберите уровень владения', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +select('work_comp','Навыки работы с персональным компьютером','Выберите', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                .rezume-fields__checks
                  .label Водительские права
                  .rezume-fields__checks-list
                    label().checkbox 
                      .checkbox__wrapper
                        input(type="checkbox" name="driver_license_a" hidden).checkbox__input
                        svg.checkbox__icon(viewbox='0 0 22 22')
                          path.tick(stroke='#366EF6' fill='none' stroke-linecap='round' stroke-width='2' d='M6 10l4 4 6-6')
                          rect(width='21' height='21' x='.5' y='.5' fill='#FFF' stroke='#7B93A7' stroke-width='1.4' rx='3')
                        span.checkbox__label A
                    label(data-id='1').checkbox 
                      .checkbox__wrapper
                        input(type="checkbox" name="driver_license_b" hidden).checkbox__input
                        svg.checkbox__icon(viewbox='0 0 22 22')
                          path.tick(stroke='#366EF6' fill='none' stroke-linecap='round' stroke-width='2' d='M6 10l4 4 6-6')
                          rect(width='21' height='21' x='.5' y='.5' fill='#FFF' stroke='#7B93A7' stroke-width='1.4' rx='3')
                        span.checkbox__label B
                    label(data-id='1').checkbox 
                      .checkbox__wrapper
                        input(type="checkbox" name="driver_license_c" hidden).checkbox__input
                        svg.checkbox__icon(viewbox='0 0 22 22')
                          path.tick(stroke='#366EF6' fill='none' stroke-linecap='round' stroke-width='2' d='M6 10l4 4 6-6')
                          rect(width='21' height='21' x='.5' y='.5' fill='#FFF' stroke='#7B93A7' stroke-width='1.4' rx='3')
                        span.checkbox__label C
                    label(data-id='1').checkbox 
                      .checkbox__wrapper
                        input(type="checkbox" name="driver_license_d" hidden).checkbox__input
                        svg.checkbox__icon(viewbox='0 0 22 22')
                          path.tick(stroke='#366EF6' fill='none' stroke-linecap='round' stroke-width='2' d='M6 10l4 4 6-6')
                          rect(width='21' height='21' x='.5' y='.5' fill='#FFF' stroke='#7B93A7' stroke-width='1.4' rx='3')
                        span.checkbox__label D
                    label(data-id='1').checkbox 
                      .checkbox__wrapper
                        input(type="checkbox" name="driver_license_e" hidden).checkbox__input
                        svg.checkbox__icon(viewbox='0 0 22 22')
                          path.tick(stroke='#366EF6' fill='none' stroke-linecap='round' stroke-width='2' d='M6 10l4 4 6-6')
                          rect(width='21' height='21' x='.5' y='.5' fill='#FFF' stroke='#7B93A7' stroke-width='1.4' rx='3')
                        span.checkbox__label E
                      
                +select('military_service_information','Сведения о военной службе','Выберите', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +select('desired_work_schedule','Желаемый график работы','Выберите график', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +textareaFixed('business_qualities','Личные и деловые качества', 'Комментарий ...')
                +textareaFixed('hobbies','Увлечения и хобби', 'Комментарий ...')
                +textareaFixed('recommendations','Рекомендации (ФИО, должность, организация, телефон)', 'Комментарий ...')
                +textareaFixed('other_inf','Другая информация', 'Комментарий ...')
                +textareaFixed('why','Расскажите, почему вы хотите работать на этой должности?', 'Комментарий ...')
                label(data-id='1').checkbox.checkbox-politic
                  .checkbox__wrapper
                    input(type="checkbox" hidden).checkbox__input
                    svg.checkbox__icon(viewbox='0 0 22 22')
                      path.tick(stroke='#366EF6' fill='none' stroke-linecap='round' stroke-width='2' d='M6 10l4 4 6-6')
                      rect(width='21' height='21' x='.5' y='.5' fill='#FFF' stroke='#7B93A7' stroke-width='1.4' rx='3')
                    span.checkbox__label Согласен на обработку <a href="#"> персональных данных*</a>
                     
      .stepper__btns(data-step="first") 
        .content__bottom
          button.btn.btn-next(type='button') Продолжить
        //- .stepper__btns
        //-   button.btn.btn-back(type='button') Назад
      .stepper__btns
        .content__bottom
          button.btn-round.btn-back(type='button') Назад
          button.btn.btn-next(type='button') Продолжить
      .stepper__btns(data-step="last") 
        .content__bottom
          button.btn-round.btn-back(type='button') Назад
          button.btn(type='submit') Отправить резюме

.modal(data-animate-open="fadeIn" data-animate-close="fadeOut" id="rezume-success" class="animate__faster")
  button.btn-fit.btn-close(data-target="rezume-success"  data-action="close") 
    +svg('close')
  .content-success
    .content-success__icon
      +svg('check-circle', 32) 
    .content-success__middle
      .content-success__title резюме успешно <br/> отправлено!
      .content-success__text  Наш менеджер по персоналу свяжется с вами  <br/> в течении 1-2 дней
    button.btn(type='button' data-target="rezume-success"  data-action="close") Отлично

.modal(data-animate-open="fadeIn" data-animate-close="fadeOut" id="exit" class="animate__faster")
  button.btn-fit.btn-close(data-target="exit" data-stay="rezume-modal"  data-action="close") 
    +svg('close')
  .content-exit 
    .content-exit__top
      .content-exit__title Вы точно хотите выйти?
      .content-exit__text Если покинете это окно, данные будут утеряны без возможности восстановления
    .content-exit__bottom
      button.btn-round(data-stay="rezume-modal" data-target="exit" data-action="close") Остаться
      button.btn-red(data-exit="rezume-modal" data-target="exit" data-action="close") Выйти

