include ./svg.pug

mixin textarea(name, placeholder)
  .field
    textarea( cols="30", rows="10" name=name, placeholder=placeholder)&attributes(attributes)
    button(class='del') 
      +svg('close', 24)
    label #{placeholder}