section.section.products 
  h2.title Продукты
  .content 
    .item 
      img(src=require("/assets/images/product/1.jpg"), alt="")
      h4.item__title Архитектурные <br/> продукты
    .item 
      img(src=require("/assets/images/product/2.jpg"), alt="")
      h4.item__title Оконные <br/> продукты
    .item 
      img(src=require("/assets/images/product/3.jpg"), alt="")
      h4.item__title Интерьерные <br/> продукты
    .item-all
      .item-all__title Посмотреть весь <br/> ассортимент продукции
      .img
        img(src=require("/assets/images/product/4.jpg"), alt="")
      a.btn(href="#") Вся продукция