section.section.delusion-system 
  .delusion-system__content
    h2.title Система <br/> менеджмента <br/> качества
    div.text-list 
      p Для улучшения качества и эффективного управления Группа Компаний «Салаватстекло» разработала, применяет и совершенствует систему менеджмента предприятия, основанную на системах менеджмента качества, охраны здоровья, обеспечения безопасности труда и окружающей среды.
      p За основу принята система менеджмента качества, внедренная в соответствии с требованиями международных стандартов ISO 9001 с 2004 года, IATF 16949 c 2018 года и подтвержденная международными сертификатами.
      p Основываясь на принципах менеджмента, руководство Группа Компаний «Салаватстекло» сумело создать единую команду, нацеленную на общий результат. Система менеджмента является  гарантом в обеспечении потребителей экологически безопасной продукцией высокого качества.
  
  .delusion-system__slider
    .swiper.other-slider
      .swiper-wrapper
        each val in [1, 2, 3, 4, 5]
          .swiper-slide
            .slide-content
              h4.slide-content__title #{val} 2006-2008 гг
              p.slide-content__text Внедрение методик менеджмента качества SPC, FMEA, MSA, PPAP, APQP по ИСО ТУ 16949:2002 для производителей автомобильных компонентов, внедрение системы менеджмента охраны здоровья и обеспечения безопасности труда OHSAS 18001:2007 и системы экологического менеджмента ИСО 14001 на базе функционирующей системы менеджмента качества.
      .swiper-pagination
      button.prev
        .btn-fit
          +svg('back')
      button.next
        .btn-fit
          +svg('forward')
