section.section.delusion-system 
  .delusion-system__content
    h2.title Система <br/> менеджмента <br/> качества
    div.text-list 
      p Для улучшения качества и эффективного управления Группа Компаний «Салаватстекло» разработала, применяет и совершенствует систему менеджмента предприятия, основанную на системах менеджмента качества, охраны здоровья, обеспечения безопасности труда и окружающей среды.
      p За основу принята система менеджмента качества, внедренная в соответствии с требованиями международных стандартов ISO 9001 с 2004 года, IATF 16949 c 2018 года и подтвержденная международными сертификатами.
      p Основываясь на принципах менеджмента, руководство Группа Компаний «Салаватстекло» сумело создать единую команду, нацеленную на общий результат. Система менеджмента является  гарантом в обеспечении потребителей экологически безопасной продукцией высокого качества.
  .standarts 
    .item
      .item__wrapper 
        img(src=require('/assets/images/standarts/1.png'), alt="")
        .item__bottom
          .item__content 
            .item__content-title 104213/A/0001/UK/RUS
            .item__content-text Система менеджмента качества сертифицирована на соответствие требованиям ISO 9001:2015
      .item__wrapper            
        img(src=require('/assets/images/standarts/2.png'), alt="")
        .item__bottom
          .item__content 
            .item__content-title 104213/B/0001/SM/RUS
            .item__content-text Система менеджмента качества сертифицирована на соответствие требованиям IATF 16949:2016
          .item__content 
            .item__content-title 104213/BB/0001/SM/RUS
            .item__content-text Система менеджмента качества сертифицированна на соотвествие требованиям ISO 9001:2015
    
      
    .item 
      .item__wrapper
        img(src=require('/assets/images/standarts/3.png'), alt="")
        .item__bottom
          .item__content 
            .item__content-title Соответствие <br/> европейским <br/> стандартам 
    .item 
      .item__wrapper
        img(src=require('/assets/images/standarts/3.png'), alt="")
        .item__bottom
          .item__content 
            .item__content-title Соответствие <br/> европейским <br/> стандартам 
