section.section.project-used 
  h2.title В проекте используется
  .project-used__content 
    .project-used__content--top
      img(src=require('/assets/images/test.jpg'), alt="")
    .project-used__content--bottom 
      div
        .project-used__tag Архитектурное стекло
        .project-used__name MultiComfort° Neutral
        .project-used__products
          .tooltip.tooltip__border MultiComfort˚ Blue 37/28
          .tooltip.tooltip__border Privaline Light Brown 1236
          .tooltip.tooltip__border Privaline Light Beige 1015
      
      button.btn Подробнее