include ../svg.pug
#sidebar.sidebar(data-animate-open='fadeInLeft' data-animate-close='fadeOutLeft' data-full class="animate__faster")
  .container 
    .sidebar__header
      .header__wrapper 
        .header__left
          a(href="#" class='logo') 
            +svg('logo', 90, 48)
        .header__center
          nav 
            a(href="#") О компании
            a(href="#") Карьера
            a(href="#") Продукты
            a(href="#") Проекты
            a(href="#") Контакты 
        .header__right 
          a(href="#" class='link') Контакты 
          include ../../components/locales/index.pug
          button.btn-fit(data-target='sidebar' data-action='toggle') 
            +svg('close')
    .sidebar__wrapper
      .sidebar__mob 
        .content 
          .accordeon 
            .item.active
              .item__head 
                +svg('warning', 24)
                span О компании 
              .item__body 
                .item__body-wrapper
                  a.active(href="#") Структура холдинга
            .item
              .item__head 
                +svg('scan', 24)
                span Продукты
              .item__body 
                .item__body-wrapper
                  a(href="#") Структура холдинга
            .item
              a.item__head(href="#")
                +svg('scan', 24)
                span Продукты
                
        .content-other 
          a(href="#" class='logo') 
            +svg('logo', 90, 48)
          .links 
            a.btn-fit(href="#") 
              +svg('telega', 24)
            a.btn-fit(href="#") 
              +svg('youtube', 24)
          p © 2023 АО «Салаватстекло»<br/>При использовании материалов ссылка<br/>на сайт АО «Салаватстекло» обязательна
          a.politics(href="#") Политика обработки данных
          a.yesidea(href="#") 
            span 3D-визуализация, <br/> дизайн и разработка
            span.separator
            +svg('yesidea',76,24)
      .sidebar__desc
        .sidebar__desc-left 
          ul 
            li.active(data-id="test1")  
              a(href="#" ) 
                +svg('warning', 24)
                span О компании 
            li(data-id="test2")  
              a(href="#") 
                +svg('scan', 24)
                span Продукты
          .links 
            a.btn-fit(href="#") 
              +svg('telega', 24)
            a.btn-fit(href="#") 
              +svg('youtube', 24)
        .sidebar__desc-right
          template#test1 
            h2.title О компании 
              +svg('top-line-r', 24)
            nav   
              a(href="#") Структура холдинга
              a(href="#") Экология
              a(href="#") История холдинга
              a(href="#") Инновации
              a(href="#") Менеджмент качества
          template#test2
            h2.title О 
              +svg('top-line-r', 24)
            nav   
              a(href="#") Структура холдинга
              a(href="#") История холдинга
              a(href="#") Инновации
              a(href="#") Менеджмент качества  
          .content
            h2.title О компании 
              +svg('top-line-r', 24)
            nav   
              a(href="#") Структура холдинга
              a(href="#") Экология
              a(href="#") История холдинга
              a(href="#") Инновации
              a(href="#") Менеджмент качества
          .content-other
            .content-other__left
              p © 2023 АО «Салаватстекло»<br/>При использовании материалов ссылка<br/>на сайт АО «Салаватстекло» обязательна
              a.politics(href="#") Политика обработки данных
            .content-other__right
              a(href="#") 
                span 3D-визуализация, <br/> дизайн и разработка
                span.separator
                +svg('yesidea',76,24)
          