.sidebar {
  @apply fixed top-0 left-0 pb-10 right-0 z-40 bg-500 w-screen h-screen transform -translate-x-full;
  @apply lg2:pb-0;
  &.active {
    @apply translate-x-0 overflow-auto;
  }

  &__header {
    @apply absolute  top-0 left-0 right-0 z-50 transition-opacity duration-500 ease-in-out;

    .header__wrapper {
      @apply px-4 py-5 rounded-b-2xl border-b bg-white border-b-prim_100 flex justify-between lg2:grid lg2:grid-cols-9;
      @apply lg2:px-10 lg2:rounded-b-4xl;
    }
    .header {
      &__left {
        @apply lg2:col-span-2;
      }
      &__center {
        @apply hidden lg2:block lg2:col-span-5 lg2:self-center lg2:justify-self-center;
      }
      &__right {
        & > * {
          @apply shrink-0;
        }
        @apply flex gap-8 items-center lg2:col-span-2 lg2:justify-end;
        .link {
          @apply text-prim_600 text-body_s font-bold -tracking-1.75 lg2:hidden;
        }
        .locales {
          @apply hidden lg2:flex;
        }
      }
    }
    .logo {
      @apply text-prim_700;
      @apply hover:text-prim_600;
    }
    nav {
      @apply hidden lg2:flex gap-8 items-center;
      & > a {
        @apply p-3 text-prim_600 text-body_m font-bold rounded-xl;
        @apply hover:bg-100;
      }
    }
  }
  .container,
  &__wrapper,
  &__desc {
    @apply h-full;
  }
  padding-top: 89px;
  &__mob {
    @apply grid gap-8  grid-rows-[1fr_auto] lg2:hidden pb-8 px-4 pt-8;
    .content .accordeon .item .item__head {
      @apply grid grid-cols-[24px_1fr] gap-3;
    }
    .content .accordeon .item .item__body .item__body-wrapper > * {
      @apply pl-12;
    }
    .accordeon {
      .item {
        &.active .item__head {
          @apply bg-100 text-prim_600;
        }
        &__body {
          &-wrapper {
            min-height: 0;
            & > * {
              @apply p-3 px-3 block rounded-xl;
              &.active {
                @apply bg-100;
              }
            }
          }
        }
      }
    }
    .content-other {
      @apply pt-8 border-t border-prim_100 grid;
      .logo,
      .links,
      p {
        @apply inline-block mb-8;
      }
      .logo {
        @apply text-prim_700;
      }
      .links {
        @apply flex gap-4;
      }
      p {
        @apply text-sec_500 -tracking-3;
        font-size: 0.75rem;
        line-height: 140%;
      }
      .politics {
        @apply underline text-prim_600 text-body_s -tracking-3.5 mb-6 inline-block;
      }
      .yesidea {
        @apply text-sec_300 -tracking-3 flex gap-3 items-end;
        font-size: 0.75rem;
        line-height: 140%;
        .separator {
          @apply border-r border-sec_100 rounded-2xl block;
          height: auto;
        }
      }
    }
  }
  &__desc {
    @apply hidden lg2:grid lg2:grid-cols-[340px_1fr];
    &-left,
    &-right {
      @apply grid content-between;
    }
    &-left {
      @apply p-10 border-r border-prim_100;
      ul {
        @apply grid gap-4;
        & > li {
          @apply text-sec_500 text-body_m -tracking-4  rounded-xl font-bold;
          &:not(:has(a)) {
            @apply grid grid-cols-[24px_1fr] gap-3 items-center p-3 cursor-pointer;
          }
          &:has(a) {
            a {
              @apply grid grid-cols-[24px_1fr] gap-3 items-center p-3;
            }
          }
          &.active {
            @apply text-prim_600 bg-100;
          }
        }
      }
      .links {
        @apply flex gap-4;
      }
    }
    &-right {
      @apply px-10 pb-10 pt-30;
      .content {
        @apply grid gap-8;
        .title {
          @apply uppercase flex gap-3 items-start py-3;
        }
        nav {
          @apply grid grid-cols-[340px_340px] gap-y-3;
          & > a {
            @apply py-3;
          }
        }
      }
      .content-other {
        @apply flex justify-between items-end;
        &__left {
          @apply flex gap-22 items-end;
          & > p {
            font-size: 0.75rem;
            line-height: 140%;
            @apply -tracking-3 text-sec_500;
          }
          & > a {
            @apply underline text-body_s text-prim_600 -tracking-3.5;
          }
        }
        &__right {
          & > a {
            @apply text-sec_300 -tracking-3 flex gap-3 items-end;
            font-size: 0.75rem;
            line-height: 140%;
            .separator {
              @apply border-r border-sec_100 rounded-2xl block;
              height: 33px;
            }
            svg {
              margin-bottom: 5px;
              @apply hover:text-prim_500;
            }
          }
        }
      }
    }
  }
}
