.sidebar {
  @apply absolute top-0 left-0 right-0 z-40 bg-500 w-screen h-screen transform -translate-x-full;
  &.active {
    @apply translate-x-0;
  }
  .container,
  &__wrapper,
  &__mob,
  &__desc {
    @apply h-full;
  }
  padding-top: 89px;
  &__mob {
    @apply grid gap-8  grid-rows-[1fr_auto] lg2:hidden pb-8 px-4 pt-8;
    .content .accordeon .item .item__head {
      @apply grid grid-cols-[24px_1fr] gap-3;
    }
    .content .accordeon .item .item__body .item__body-wrapper > * {
      @apply pl-12;
    }
    .content-other {
      @apply pt-8 border-t border-prim_100 grid;
      .logo,
      .links,
      p {
        @apply inline-block mb-8;
      }
      .logo {
        @apply text-prim_700;
      }
      .links {
        @apply flex gap-4;
      }
      p {
        @apply text-sec_500 -tracking-3;
        font-size: 0.75rem;
        line-height: 140%;
      }
      .politics {
        @apply underline text-prim_600 text-body_s -tracking-3.5 mb-6 inline-block;
      }
      .yesidea {
        @apply text-sec_300 -tracking-3 flex gap-3 items-end;
        font-size: 0.75rem;
        line-height: 140%;
        .separator {
          @apply border-r border-sec_100 rounded-2xl block;
          height: auto;
        }
      }
    }
  }
  &__desc {
    @apply hidden lg2:grid lg2:grid-cols-[340px_1fr];
    &-left,
    &-right {
      @apply grid content-between;
    }
    &-left {
      @apply p-10 border-r border-prim_100;
      .list {
        @apply grid gap-4;
        & > li {
          @apply grid grid-cols-[24px_1fr] gap-3 items-center text-sec_500 text-body_m -tracking-4 p-3 rounded-xl font-bold;
          &.active {
            @apply text-prim_600 bg-100;
          }
        }
      }
      .links {
        @apply flex gap-4;
      }
    }
    &-right {
      @apply px-10 pb-10 pt-30;
      .content {
        @apply grid gap-8;
        .title {
          @apply uppercase flex gap-3 items-start py-3;
        }
        nav {
          @apply grid grid-cols-[340px_340px] gap-y-3;
          & > a {
            @apply py-3;
          }
        }
      }
      .content-other {
        @apply flex justify-between items-end;
        &__left {
          @apply flex gap-22 items-end;
          & > p {
            font-size: 0.75rem;
            line-height: 140%;
            @apply -tracking-3 text-sec_500;
          }
          & > a {
            @apply underline text-body_s text-prim_600 -tracking-3.5;
          }
        }
        &__right {
          & > a {
            @apply text-sec_300 -tracking-3 flex gap-3 items-end;
            font-size: 0.75rem;
            line-height: 140%;
            .separator {
              @apply border-r border-sec_100 rounded-2xl block;
              height: auto;
            }
          }
        }
      }
    }
  }
}
