section.section.awards 
  h2.title Дипломы и награды
  .awards__list 
    each val in [1, 2, 3, 4, 5]
      .item 
        .img 
          img(src="http://www.salstek.ru/system/uploads/ckeditor/pictures/54/content_1._%D0%93%D0%B5%D0%BC%D0%BC%D0%B0-2012_-%D1%81%D1%82%D0%B5%D0%BA%D0%BB%D0%BE%D0%BF%D0%B0%D0%BA%D0%B5%D1%82%D1%8B_%D0%BA%D0%BB%D0%B5%D0%B5%D0%BD%D1%8B%D0%B5.jpg", alt="")
        h4.item__title Гемма-2012 - стеклопакеты клееные