mixin newsCard()
  a(href="#").news-card 
    .news-card__top
      .tag.news-card__label экология
      img(src=require("/assets/images/test.jpg"), alt="")
    .news-card__bottom
      .news-card__date 10 февраля 2023 г.
      h4.news-card__title С заботой об экологии: компания «Салаватстекло» выпускает зеркала без применения меди и свинца