
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    
    include ./sections/header/index.pug
    include ./components/generalSlider/index.pug
    main.container
      

      
      include ./sections/products/index.pug  
      include ./sections/structure/index.pug  
      include ./sections/about/index.pug  
      include ./sections/regions/index.pug  
      include ./sections/writeToUs/index.pug  
          
    include ./sections/footer/index.pug
    