@tailwind components;

@layer components {
  /*list*/
  ul.list {
    @apply marker:text-dark leading-160 list-disc pl-5 -tracking-4;
  }
  /* input */
  .field {
    @apply w-full relative;
    input ~ label {
      @apply text-body_m -tracking-4 text-sec_500;
      @apply absolute left-4 top-1/2 transform -translate-y-1/2;
      @apply transition-all duration-300 ease-in-out;
    }
    input {
      @apply rounded-xl border border-prim_100 pl-4 pr-12 text-body_m  h-14.5 w-full;
      @apply placeholder:text-transparent outline-none;
      @apply transition-all duration-300 ease-in-out;
    }
    input:focus {
      @apply shadow-input border-prim_400;
      @apply pt-2.5;
    }
    input:not(:placeholder-shown) {
      @apply pt-2.5;
    }
    textarea ~ label {
      @apply text-body_m -tracking-4 text-sec_500;
      @apply absolute left-4 top-4;
      @apply transition-all duration-300 ease-in-out;
    }
    textarea {
      @apply rounded-xl border border-prim_100 pl-4 pr-12  text-body_m  h-40 w-full;
      @apply placeholder:text-transparent outline-none;
      @apply transition-all duration-300 ease-in-out;
    }
    textarea:focus {
      @apply shadow-input border-prim_400;
      @apply pt-7;
    }
    textarea:not(:placeholder-shown) {
      @apply pt-7;
    }
    textarea:not(:placeholder-shown) ~ label,
    textarea:focus ~ label,
    input:not(:placeholder-shown) ~ label,
    input:focus ~ label {
      padding: 0;
      font-size: 0.75rem;
      line-height: normal;
      top: 0.875rem;
    }
    &__invalid input {
      @apply border-error;
    }
    textarea ~ button {
      @apply absolute top-4  right-4;
    }
    input ~ button {
      @apply absolute top-1/2 transform -translate-y-1/2 right-4;
    }
  }
  .field-fixed {
    @apply grid gap-3;
    label {
      @apply text-body_s -tracking-3 text-sec_500 font-bold;
    }
    &__input {
      @apply relative;
    }
    input {
      @apply rounded-xl border border-prim_100 pl-4 pr-12 text-body_m  h-14.5 w-full;
      @apply outline-none;
      @apply transition-all duration-300 ease-in-out;
    }
    textarea {
      @apply rounded-xl border border-prim_100 pl-4 pr-12 pt-4  text-body_m  h-40 w-full;
      @apply outline-none;
      @apply transition-all duration-300 ease-in-out;
    }
    &__invalid input {
      @apply border-error;
    }
    textarea ~ button {
      @apply absolute top-4  right-4;
    }
    input ~ &__after {
      @apply flex gap-1.5 items-center absolute top-1/2  right-4 transform -translate-y-1/2;
    }
    input:focus {
      @apply shadow-input border-prim_400;
    }
  }
  .field-file {
    @apply grid gap-3;
    .field-file__label {
      @apply text-body_s -tracking-3 font-bold text-sec_500;
    }
    &__input {
      @apply relative flex items-center justify-between border border-dashed border-prim_100 rounded-xl h-[58px] px-4;

      &-left {
        @apply flex items-center gap-3;
        svg {
          @apply text-sec_500;
        }
        .name {
          @apply hidden;
        }
      }

      &-right {
        @apply flex items-center;
      }
      input[type='file'] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
      }

      input[value] {
        z-index: 10;
        position: static;
      }
    }
    &.active .name {
      @apply block;
    }
    &.active .name + .review {
      @apply hidden;
    }
    &.active &__input {
      @apply border-solid;
    }
  }
  /* select */
  .select {
    @apply relative;
    label {
      @apply text-body_s -tracking-3 font-bold text-sec_500 mb-3 block;
    }
    &__head {
      @apply rounded-xl border border-100 h-14.5 w-full bg-white pl-4 pr-12 flex items-center text-body_m relative cursor-pointer;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.031 10.0306L12.531 17.5306C12.4614 17.6003 12.3787 17.6556 12.2876 17.6933C12.1966 17.7311 12.099 17.7505 12.0004 17.7505C11.9019 17.7505 11.8043 17.7311 11.7132 17.6933C11.6222 17.6556 11.5394 17.6003 11.4698 17.5306L3.96979 10.0306C3.82906 9.88982 3.75 9.69895 3.75 9.49993C3.75 9.30091 3.82906 9.11003 3.96979 8.9693C4.11052 8.82857 4.30139 8.74951 4.50042 8.74951C4.69944 8.74951 4.89031 8.82857 5.03104 8.9693L12.0004 15.9396L18.9698 8.9693C19.0395 8.89962 19.1222 8.84435 19.2132 8.80663C19.3043 8.76892 19.4019 8.74951 19.5004 8.74951C19.599 8.74951 19.6965 8.76892 19.7876 8.80663C19.8786 8.84435 19.9614 8.89962 20.031 8.9693C20.1007 9.03899 20.156 9.12171 20.1937 9.21276C20.2314 9.3038 20.2508 9.40138 20.2508 9.49993C20.2508 9.59847 20.2314 9.69606 20.1937 9.7871C20.156 9.87815 20.1007 9.96087 20.031 10.0306Z' fill='%237B93A7'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        @apply transition-all duration-300 ease-in-out;
      }
    }
    &__body {
      @apply rounded-xl bg-white text-body_m  absolute bottom-0 z-10 w-full overflow-hidden transform translate-y-full;
      box-shadow: 0px 109px 65px 0px rgba(0, 0, 0, 0.05),
        0px 194px 77px 0px rgba(0, 0, 0, 0.01),
        0px 303px 85px 0px rgba(0, 0, 0, 0);
      display: grid;
      grid-template-rows: 0;
      @apply transition-all duration-300 ease-in-out;
      &-top {
        @apply top-0 transform -translate-y-full;
      }
      &-bottom {
        @apply bottom-0 transform translate-y-full;
      }
      &-wrapper {
        @apply rounded-xl border border-100 overflow-y-auto;
        max-height: 360px;
        &::-webkit-scrollbar {
          height: 4px; /* высота для горизонтального скролла */
          width: 4\px;
          background-color: theme(colors.white);
          border-radius: 18px;
        }

        /* ползунок скроллбара */
        &::-webkit-scrollbar-thumb {
          background-color: theme(colors.100);
          border-radius: 18px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #253861;
        }
        .checkbox__wrapper {
          &:hover {
            @apply bg-500;
          }
          &:has(> input:checked) {
            @apply bg-50;
          }
          @apply py-2 px-4 rounded-lg;
          &.active {
            @apply bg-prim_600;
          }
        }
        .checkbox__childs {
          @apply grid gap-1 mt-1;
          padding-left: 30px;
        }
      }
    }
    &__options {
      @apply grid gap-1 px-3 py-3;

      & > div {
        @apply rounded-lg text-body_s -tracking-3.5 text-sec_500 flex items-center cursor-pointer px-4 py-2;
        @apply transition-all duration-300 ease-in-out;

        &.active {
          @apply bg-50 text-dark;
        }
      }
    }
    @media (hover: hover) {
      &__options > div:hover {
        @apply bg-50;
      }
    }
    @media (hover: none) {
      &__options > div:active {
        @apply bg-50;
      }
    }
    &.active &__head {
      @apply shadow-input border-prim_400;
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    &.active &__body {
      grid-template-rows: 1fr;
    }

    &__invalid &__head {
      @apply border-error;
    }
  }

  /* button */
  .btn {
    @apply h-[3.875rem] px-6 rounded-xl font-medium -tracking-4  text-body_m bg-prim_600 text-white inline-flex gap-3 items-center justify-center whitespace-nowrap;
    @apply [@media(hover:hover)]:hover:bg-prim_500;
    @apply [@media(hover:none)]:active:bg-prim_700 active:bg-prim_700;
    @apply disabled:text-100 disabled:border-100 disabled:border disabled:bg-white;
  }

  .btn-round {
    @apply h-[3.875rem] bg-500 px-6 border border-prim_100 rounded-xl font-medium -tracking-4  text-body_m  text-sec_500 inline-flex gap-3 items-center justify-center whitespace-nowrap;
    @apply [@media(hover:hover)]:hover:bg-75;
    @apply [@media(hover:none)]:active:bg-100 active:bg-100;
    @apply disabled:text-100 disabled:border-100 disabled:border disabled:bg-white;
  }

  .btn-chips {
    @apply h-[3.875rem] bg-white px-6 border border-prim_100  rounded-2xl font-medium -tracking-4  text-body_m  text-sec_500 inline-flex gap-3 items-center justify-center whitespace-nowrap cursor-pointer;
    @apply [@media(hover:hover)]:hover:bg-prim_200;
    @apply [@media(hover:none)]:active:bg-prim_200 active:bg-prim_200;
    @apply disabled:border-100 disabled:border disabled:bg-white;
    &_disabled {
      @apply text-100 border-100 cursor-not-allowed;
      @apply [@media(hover:hover)]:hover:bg-white;
      @apply [@media(hover:none)]:active:bg-white;
    }
  }
  .btn-red {
    @apply h-[3.875rem] bg-error/70 px-6 border border-error rounded-xl font-medium -tracking-4  text-body_m  text-white inline-flex gap-3 items-center justify-center whitespace-nowrap;

    @apply disabled:text-100 disabled:border-100 disabled:border disabled:bg-white;
  }

  .btn-section {
    @apply px-6 py-5 lg2:py-6 lg2:px-10 rounded-3xl lg2:rounded-[2rem] font-bold -tracking-6 text-h5 lg2:text-h4 bg-prim_600 text-white flex gap-3 items-center justify-between;
    @apply [@media(hover:hover)]:hover:bg-prim_500;
    @apply [@media(hover:none)]:active:bg-prim_500;
    @apply disabled:border-100 disabled:border disabled:bg-white;
    .label {
      @apply text-body_s font-bold -tracking-1.75 text-sec_100 mb-1;
      @apply mb-3;
    }
    svg {
      @apply shrink-0;
    }
    &_disabled {
      @apply text-100 border-100 bg-white;
    }
  }

  .btn-prev,
  .btn-next {
    @apply p-4 w-16 h-16;
    & > svg {
      @apply w-full h-full;
    }
  }

  .btn-fit {
    @apply w-12 h-12 grid place-self-center p-3  rounded-xl border border-prim_100 bg-50 text-sec_500 cursor-pointer;
    @apply [@media(hover:hover)]:hover:bg-prim_200 [@media(hover:hover)]:hover:text-prim_700;
    & > svg {
      @apply w-full h-full;
    }
    &_sm {
      @apply w-8 h-8 p-2 rounded-lg;
    }
    &_lg {
      @apply w-16 h-16 p-4;
    }
    &_fill {
      @apply border-50;
    }
  }

  /* accordeon */
  .accordeon {
    @apply grid gap-4;
    .item {
      &__head {
        @apply p-3 rounded-xl font-bold text-sec_500 flex justify-between items-center;
        .icon {
          @apply transition duration-300 ease-in-out;
        }
      }
      &.active {
        .item__head {
          .icon {
            @apply transform rotate-180;
          }
        }
      }
      &__body {
        @apply grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        &-wrapper {
          min-height: 0;
        }
      }

      &.active .item__body {
        grid-template-rows: 1fr;
      }
    }
  }

  /*  breadcrumbs */
  ul.breadcrumb {
    display: flex;
    flex-wrap: wrap;
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    font-size: 1rem;
    line-height: 160%;
    @apply -tracking-4 text-sec_300;
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li + li:before {
    @apply text-prim_600 px-2;
    content: '—';
  }

  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    @apply underline text-prim_600;
  }

  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .downl-item {
    @apply p-4 rounded-3xl border border-prim_100  flex gap-3 items-start;
    overflow-wrap: anywhere;
    &__icon {
      @apply w-12 h-12 bg-50 rounded-xl grid place-content-center text-sec_500 shrink-0;
    }
    &__title {
      @apply text-body_m font-bold -tracking-4 text-sec_500 mb-1;
    }
    &__text {
      @apply text-sec_300 text-body_s -tracking-3.5;
    }
    .icon-hover {
      display: none;
    }
    @media (hover: hover) {
      &:hover &__icon,
      &:hover &__title {
        @apply text-prim_600;
      }

      &:hover &__text {
        @apply text-sec_500;
      }

      &:hover .icon-file {
        display: none;
      }
      &:hover .icon-hover {
        display: block;
      }
    }
  }

  .tag {
    @apply border  border-sec_100 rounded-[22.5rem] bg-white px-3 py-2 text-sec_500 text-body_m -tracking-4 font-bold w-fit;
  }

  .content-slider {
    @apply overflow-hidden;
    .small-slider .swiper-slide {
      @apply h-60 w-full rounded-3xl overflow-hidden;
      @apply lg2:h-[47.8125rem] lg2:rounded-[2rem];
      & > img {
        @apply w-full h-full object-cover;
      }
    }
    .small-slider {
      @apply lg2:pb-0;
    }
    .small-slider .swiper-pagination {
      @screen lg2 {
        --swiper-pagination-bottom: 1.5rem;
      }
    }
  }

  /*table*/
  table {
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border: none;
    width: 100%;
  }
  table td,
  table th {
    padding: 0.5rem 1rem;
  }
  table th {
    font-weight: 400;
  }
  table thead th {
    @apply text-body_s -tracking-3;
    padding: 16px 8px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 200px;
    background: white;
  }
  table td {
    @apply text-body_m font-bold text-sec_500 border-t border-prim_100;
    background: #fff;
    padding: 4px 5px;
    text-align: center;
  }
  table thead th:not(:first-child) {
    width: 146px;
  }
  table tbody th {
    text-align: left;
    position: relative;
  }
  table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    text-align: left;
  }
  table tbody th {
    @apply text-body_s -tracking-3  border-t border-prim_100;
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
    width: 200px;
    height: auto;
  }
  caption {
    text-align: left;
    padding: 0.25rem;
    position: sticky;
    left: 0;
  }

  [role='region'][aria-labelledby][tabindex] {
    width: 100%;
    max-height: 98vh;
    overflow: auto;
    /* полоса прокрутки (скроллбар) */
    &::-webkit-scrollbar {
      height: 4px; /* высота для горизонтального скролла */
      width: 4\px;
      background-color: theme(colors.50);
      border-radius: 18px;
    }

    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
      background-color: theme(colors.prim_600);
      border-radius: 18px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #253861;
    }
  }
  [role='region'][aria-labelledby][tabindex]:focus {
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    outline: 0;
  }

  .left-title {
    @apply flex items-center gap-4;
    & > svg {
      @apply shrink-0 text-prim_600;
    }
  }

  .table-mob {
    @apply w-full overflow-auto;
    &::-webkit-scrollbar {
      height: 4px; /* высота для горизонтального скролла */
      width: 4\px;
      background-color: theme(colors.50);
      border-radius: 18px;
    }

    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
      background-color: theme(colors.prim_600);
      border-radius: 18px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #253861;
    }
    &__head {
      display: contents;
      .tr {
        @apply inline-flex flex-nowrap gap-4;

        .th {
          @apply w-[120px] shrink-0 border-b border-sec_100 py-4 px-2 text-body_s tracking-3.5 text-center;
        }
      }
    }
    &__body {
      display: contents;
      .tr {
        display: contents;
        &__wrapper {
          @apply inline-flex flex-nowrap gap-4;
          position: relative;
        }
        .th {
          @apply text-body_s -tracking-3.5;
          position: sticky;
          top: 0;
          left: 0;
          height: 3rem;
          padding: 0 0.5rem;
          display: flex;
          align-items: center;
          gap: 0.75rem;
          width: 0;
          & > svg {
            @apply shrink-0 text-prim_600;
          }
        }
        .td {
          @apply w-[120px] shrink-0 py-3 px-1 grid place-content-center;
        }
      }
    }
  }
  .country {
    @apply py-2 px-3 bg-white text-sec_500 text-body_m -tracking-4 font-bold rounded-xl inline-flex gap-3 items-center w-fit;
  }
  .tooltip {
    @apply rounded-xl py-2 px-3 bg-white relative inline-flex items-center text-body_s leading-160 tracking-3.5 gap-0.5 overflow-hidden h-10;
    &::before {
      content: '';
      @apply w-2.5 h-2.5 rounded-full  mb-0.5 mx-2 bg-[#90B1DA];
    }
  }

  .progress {
    @apply flex justify-between gap-8 min-w-[260px] items-center text-body_s -tracking-3.5  text-sec_200 font-bold pb-3 relative w-full;
    @apply lg2:min-w-[auto];
    svg {
      @apply text-sec_200 transition-all duration-300 ease-in-out;
    }
    &::after {
      content: '';
      @apply absolute h-1 w-0 bg-prim_600 rounded-xl transition-all duration-300 ease-in-out bottom-0;
    }
    &::before {
      content: '';
      @apply absolute h-1 w-full bg-50 rounded-xl  bottom-0;
    }
    &.active {
      svg {
        @apply text-prim_600;
      }
      &::after {
        @apply w-full;
      }
    }
  }
  .stepper {
    .progresses {
      @apply mb-8;
      @apply lg2:mb-12;
    }
    &__title {
      @apply text-h4 -tracking-4 font-bold text-sec_500 mb-6;
      @apply lg2:mb-8;
    }
    &__content {
      &-title {
        @apply text-h4 font-bold  mb-6;
        @apply lg2:mb-8;
      }
      &-slide {
        &--hide {
          display: none;
        }
      }
    }
    &__btns {
      &-hidden {
        display: none;
      }
    }
  }
  #ordering {
    @apply grid;
    & > *:not(:last-child) {
      @apply border-b border-prim_100 pb-6;
    }
    & > *:not(:first-child) {
      @apply pt-6;
    }
  }
  .edit {
    @apply w-fit grid text-sec_100 -tracking-4 bg-dark rounded-xl p-1;

    box-shadow: 0px 303px 85px 0px #00000000;

    & > * {
      @apply flex items-center p-2 px-3 gap-3;
      svg {
        @apply shrink-0;
      }
    }
  }
  .item-label {
    @apply grid gap-4;
    &__head {
      @apply flex gap-4;
      @apply lg2:py-4;
      svg {
        @apply text-prim_600 shrink-0 w-6 h-6;
      }
      .checkbox__label {
        @apply text-h5 text-dark m-0;
      }
    }
    &__body {
      @apply grid gap-4;
      @apply lg2:flex lg2:flex-wrap;
    }
  }

  .item-child {
    @apply border border-prim_100 rounded-lg px-3 py-2 flex items-center justify-between gap-4 relative;
    @apply lg2:w-fit;

    .item-child__label {
      .checkbox__label {
        @apply text-body_s text-dark;
      }
    }
    .item-child__btns {
      @apply shrink-0 flex gap-2;
      .item-quantity {
        @apply hidden;
        &.active {
          @apply block;
        }
      }
      .item-child__count {
        @apply py-2 px-3 text-body_m -tracking-4 bg-500 rounded-lg shrink-0 min-w-[42px] text-center;
      }
      .item-action {
        @apply text-sec_200 bg-white h-[42px] shrink-0;
      }
    }
    .item-quantity.active + .item-child__count {
      display: none;
    }
    .item-edit {
      display: none;
      .edit {
        @apply absolute bottom-0 right-0 transform translate-y-full;
        z-index: 1;
      }
      &.active {
        display: block;
      }
    }
  }

  .item-parent {
    @apply grid gap-5 relative;
    @apply lg2:flex lg2:items-center lg2:justify-between;
    .item-parent__label {
      @apply flex gap-4;
      svg {
        @apply text-prim_600 shrink-0 w-6 h-6;
      }
      .checkbox__label {
        @apply text-h5 text-dark m-0;
      }
    }
    .item-parent__btns {
      @apply grid grid-cols-[1fr,auto] gap-4;
      @apply flex;
      .item-quantity {
        @apply hidden;
        &.active {
          @apply block;
        }
        .quantity {
          @apply h-[50px] text-body_m tracking-4;
        }
      }
      .item-parent__count {
        @apply text-body_m tracking-4 min-w-[50px] h-[50px] grid place-content-center bg-500 rounded-lg shrink-0;
      }
      .item-action {
        @apply h-[50px] w-[50px] border border-sec_200 rounded-lg grid place-content-center;
        svg {
          @apply text-sec_300 w-6 h-6;
        }
      }

      .item-quantity.active + .item-parent__count {
        display: none;
      }
    }
    .item-edit {
      display: none;
      .edit {
        @apply absolute bottom-0 right-0 transform translate-y-full;
        z-index: 1;
      }
      &.active {
        display: block;
      }
    }
  }
}

.datepicker {
  position: absolute;
  z-index: 20;
  padding-top: 4px;
  &:not(.active) {
    display: none;
  }
  &-controls {
    @apply grid;
    grid-template-columns: auto 1fr auto;
  }

  &-picker {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: hsl(0, 0%, 100%);
  }
  &-cell {
    @apply flex items-center justify-center;
    height: 36px;
  }
  .days-of-week {
    @apply grid text-center;
    grid-template-columns: repeat(7, minmax(36px, 1fr));
    height: 36px;
    .dow {
      @apply flex items-center justify-center;
    }
  }
  &-grid {
    @apply grid;
    grid-template-columns: repeat(7, minmax(36px, 1fr));
  }
  &-view {
    &.months,
    &.years,
    &.decades {
      @apply grid;
      grid-template-columns: repeat(4, minmax(42px, 1fr));
      & > * {
        height: 42px;
      }
    }
    .days {
    }
  }
}
