@mixin avenir {
  $path: '../fonts/avenir';
  @font-face {
    font-family: 'Avenir';
    src: url(#{$path}/avenirnextcyr-regular.eot);
    src: local('avenirnextcyr regular'), local('avenirnextcyr-regular'),
      url(#{$path}/avenirnextcyr-regular.eot?#iefix) format('embedded-opentype'),
      url(#{$path}/avenirnextcyr-regular.woff2) format('woff2'),
      url(#{$path}/avenirnextcyr-regular.woff) format('woff'),
      url(#{$path}/avenirnextcyr-regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Avenir';
    src: url(#{$path}/avenirnextcyr-medium.eot);
    src: local('avenirnextcyr medium'), local('avenirnextcyr-medium'),
      url(#{$path}/avenirnextcyr-medium.eot?#iefix) format('embedded-opentype'),
      url(#{$path}/avenirnextcyr-medium.woff2) format('woff2'),
      url(#{$path}/avenirnextcyr-medium.woff) format('woff'),
      url(#{$path}/avenirnextcyr-medium.ttf) format('ttf');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Avenir';
    src: url(#{$path}/avenirnextcyr-demi.eot);
    src: local('avenirnextcyr demi'), local('avenirnextcyr-demi'),
      url(#{$path}/avenirnextcyr-demi.eot?#iefix) format('embedded-opentype'),
      url(#{$path}/avenirnextcyr-demi.woff2) format('woff2'),
      url(#{$path}/avenirnextcyr-demi.woff) format('woff'),
      url(#{$path}/avenirnextcyr-demi.ttf) format('ttf');
    font-weight: 700;
    font-style: normal;
  }
}
@include avenir();

@mixin intro {
  $path: '../fonts/intro';

  @font-face {
    font-family: 'Intro';
    src: url(#{$path}/intro_black.eot);
    src: local('intro_black'), local('intro_black'),
      url(#{$path}/intro_black.eot?#iefix) format('embedded-opentype'),
      url(#{$path}/intro_black.woff2) format('woff2'),
      url(#{$path}/intro_black.woff) format('woff'),
      url(#{$path}/intro_black.ttf) format('ttf');
    font-weight: 900;
    font-style: normal;
  }
}
@include intro();
