@tailwind utilities;
@layer utilities {
  .section {
    @apply border border-prim_100 rounded-4xl py-8 px-4;
    @apply lg2:rounded-6xl lg2:py-20 lg2:px-10;
  }
  .section-first {
    @apply bg-500 rounded-b-4xl  px-4 pb-10  overflow-hidden mb-4;
    @apply lg2:px-10 lg2:pb-20 lg2:rounded-b-6xl;
    @apply grid gap-12;
    @apply lg2:grid-cols-2 lg2:gap-0;
    padding-top: calc(89px + 32px);
    @screen lg2 {
      padding-top: calc(89px + 40px);
      height: max-content;
      min-height: 544px;
    }
    .breadcrumbs {
      @apply mb-8;
      @apply lg2:mb-[2.75rem];
    }

    &__top {
      @apply grid gap-8;
      @apply lg2:content-between lg2:pr-16 lg2:gap-0;
      .breadcrumb {
        @apply lg2:mb-[2.75rem];
      }
      .links {
        @apply hidden;
        @apply lg2:flex lg2:gap-5 lg2:flex-wrap lg2:mt-16;
      }
      .content {
        @apply grid gap-4;
        .text {
          @apply text-body_m leading-160 -tracking-4;
        }
      }
    }
    &__bottom {
      @apply overflow-hidden grid gap-16;

      .links {
        @apply flex flex-nowrap gap-4 overflow-auto whitespace-nowrap pb-4;
        @apply lg2:hidden;
        scrollbar-color: theme(colors.prim_600) theme(colors.50); /* «цвет ползунка» «цвет полосы скроллбара» */
        scrollbar-width: thin; /* толщина */

        /* полоса прокрутки (скроллбар) */
        &::-webkit-scrollbar {
          height: 4px; /* высота для горизонтального скролла */
          background-color: theme(colors.50);
          border-radius: 18px;
        }

        /* ползунок скроллбара */
        &::-webkit-scrollbar-thumb {
          background-color: theme(colors.prim_600);
          border-radius: 18px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #253861;
        }
      }
    }
  }

  .header-second {
    @apply grid p-4 lg2:px-10;
    @apply lg2:grid-cols-2   rounded-b-4xl bg-500;
    align-content: start;
    padding-top: calc(89px + 32px);
    @screen lg2 {
      padding-top: calc(89px + 40px);
      padding-bottom: 40px;
      min-height: 500px;
    }
    &__top {
      @apply pb-8  grid gap-8 grid-rows-[1fr_auto];
      @apply lg2:rounded-bl-6xl lg2:pb-10  lg2:pr-16;

      & > *:first-child {
        @apply grid gap-8 content-start;
      }
      .content-text {
        @apply text-sec_500 lg2:w-[33.3125rem];
      }
    }
    &__bottom {
      @apply h-[231px] w-full rounded-b-4xl overflow-hidden;
      @apply lg2:h-[382px] self-start     rounded-[2rem] lg2:rounded-4xl;

      & > img {
        @apply w-full h-full object-cover;
      }
    }
  }

  .header-second.header-glassotar {
    .btns {
      @apply grid gap-2;
      @apply lg2:flex lg2:gap-4;
    }
  }
  .header-second.header-glass-configurator {
    .header-second__bottom {
      @apply bg-75;
    }
  }

  .header-project {
    @apply grid content-between relative  rounded-b-4xl mb-4;
    @apply lg2:rounded-b-6xl;
    height: 594px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    padding-inline: 16px;
    position: relative;
    padding-top: calc(89px + 32px);
    @screen lg2 {
      padding-top: calc(89px + 40px);
      padding-inline: 40px;
      padding-bottom: 80px;
      height: 740px;
    }
    &::before {
      @apply rounded-b-4xl;
      @apply lg2:rounded-b-6xl;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.24) 0%,
        rgba(0, 0, 0, 0.24) 100%
      );
    }
    & > * {
      position: relative;
    }
    &__top {
      ul.breadcrumb li {
        @apply text-sec_300;
        &::before {
          @apply text-white;
        }
        a {
          @apply text-white;
        }
      }
    }
    &__bottom {
      @apply grid gap-4;
      @apply lg2:gap-6;
      .list {
        @apply grid gap-2;
        @apply lg2:flex lg2:flex-wrap;
      }
    }
    .title {
      @apply text-white;
      @screen lg2 {
        max-width: 864px;
        width: 100%;
      }
    }
  }
  .btn-close {
    @apply lg2:w-16 lg2:h-16 grid place-content-center;
    & svg {
      @apply h-8 w-8;
    }
  }
  .not-found {
    @apply bg-500 rounded-b-4xl  px-4 pb-10  overflow-hidden mb-4 h-screen relative;
    @apply lg2:p-10 lg2:rounded-6xl;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../assets/images/404.png);
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      right: 0;

      width: 52rem;
      height: 29.21rem;
      transform: translate(46%, 6%) rotate(192deg);
      @screen lg2 {
        width: 112rem;
        height: 63rem;
        transform: translate(28%, 27%) rotate(192deg);
      }
    }
    padding-top: calc(89px + 32px);
    @screen lg2 {
      padding-top: calc(89px + 40px);
    }
    &__content {
      @apply relative grid grid-rows-[1fr_auto] h-full;
    }
    .title {
      @apply text-prim_600 text-h3  font-intro -tracking-3.5 self-center;
      @apply lg2:text-h1;
    }
    .btn {
      @apply w-full;
      @apply lg2:w-fit;
    }
  }
  .tabs {
    @apply grid overflow-hidden w-full;

    &__wrapper {
      @apply flex gap-5 overflow-auto;
      -ms-overflow-style: none; /* IE и Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
      & > * {
        @apply lg2:w-full;
      }
    }
    &__col {
      @media screen and (max-width: 1199px) {
        display: grid !important;
      }

      & > * {
        white-space: normal;
      }
    }
  }

  .tab-content {
    @apply hidden;
    &.active {
      @apply block;
    }
  }
  .tab-content-slider {
    visibility: hidden;
    height: 0;
    &.active {
      visibility: visible;
      height: auto;
    }
  }
  .politics {
    @apply underline text-prim_600 text-body_s -tracking-3.5  inline-block;
    @apply hover:text-prim_500;
  }
  .btn-show {
    @apply mt-4;
    @apply lg2:mt-8 lg2:flex lg2:justify-center;
    & > * {
      @apply w-full;
      @apply lg2:w-fit;
    }
  }

  .btns-section {
    @apply grid gap-4;
  }

  .share {
    @apply flex gap-6 items-center;
    &__content {
      @apply text-prim_700 text-body_m -tracking-4 leading-160 flex items-center gap-2.5;
      & > svg {
        @apply text-sec_500;
      }
    }
    &__list {
      @apply flex gap-2 items-center;
    }
  }

  .content-share {
    @apply grid gap-6 lg2:gap-8;
    &__imgs {
      @apply grid gap-2 lg2:gap-5 grid-cols-2 grid-rows-2;
      grid-template-areas:
        'a b'
        'a c'
        'd f'
        'e f'
        'g h'
        'g j';
      & img {
        @apply w-full  object-cover row-span-1;
        height: 97px;
        border-radius: 16px;
        @screen lg2 {
          height: 383px;
          border-radius: 32px;
        }
      }
      & > img:nth-child(1) {
        grid-area: a;
      }
      & > img:nth-child(2) {
        grid-area: b;
      }
      & > img:nth-child(3) {
        grid-area: c;
      }
      & > img:nth-child(4) {
        grid-area: d;
      }
      & > img:nth-child(5) {
        grid-area: e;
      }
      & > img:nth-child(6) {
        grid-area: f;
      }
      & > img:nth-child(7) {
        grid-area: g;
      }

      & > img:nth-child(8) {
        grid-area: h;
      }
      & > img:nth-child(9) {
        grid-area: j;
      }
      & > img:nth-child(1),
      & > img:nth-child(6),
      & > img:nth-child(7) {
        height: 202px;
        border-radius: 16px;
        @screen lg2 {
          height: 786px;
          border-radius: 32px;
        }
      }
    }
  }

  .content-text {
    @apply text-body_m leading-180 -tracking-4 grid gap-4 max-w-[42.5rem] content-start;
  }
  .env-t {
    padding-top: max(20px, env(safe-area-inset-top, 20px));
  }

  .env-b {
    padding-bottom: max(20px, env(safe-area-inset-bottom, 20px));
  }
  .modal {
    @apply fixed opacity-0 top-0 left-0 w-0 h-0 overflow-hidden  bg-500;
    z-index: 50;
    @screen lg2 {
      background: rgba(0, 0, 0, 0.34);
    }
    &.open {
      @apply opacity-100 w-full h-full;
    }
    &.active {
      @apply opacity-100 w-full h-full;
    }
    & > .btn-close {
      @apply hidden lg2:grid absolute top-12 right-12;
    }
    .content {
      @apply lg2:absolute lg2:top-1/2 lg2:left-1/2 lg2:transform lg2:-translate-x-1/2 lg2:-translate-y-1/2 lg2:p-0;
      @apply lg2:rounded-4xl;
      overflow: auto;
      height: 100%;
      @screen lg2 {
        height: auto;

        width: 100%;
        max-width: 1024px;
      }
      @screen lg3 {
        max-width: 1160px;
      }

      &__wrapper {
        @apply gap-2.5 overflow-auto;
        @apply lg2:p-12  lg2:bg-white lg2:border lg2:border-prim_100;
        padding-top: max(16px, env(safe-area-inset-top, 16px));
        @media screen and (min-width: 1200px) {
          height: 100%;
          padding-top: 48px;
          padding-bottom: 144px;
        }
      }
      &__title {
        @apply font-intro uppercase -tracking-3.5 text-h3 text-sec_500;
      }
      &__text {
        @apply text-sec_500;
      }
      &__top {
        @media screen and (max-width: 1200px) {
          background-color: theme('colors.white');
          border: 1px solid theme('colors.prim_100');
          padding: theme(spacing.8) theme(spacing.4);
          border-radius: theme(borderRadius.3xl);
          position: relative;
          margin-inline: theme(spacing.4);
          margin-bottom: calc(98px + 0.625rem);
        }
        &-text--content {
          @apply grid gap-3.5 mb-6;
          @apply lg2:mb-12;
        }
        & .btn-close {
          @apply w-8 h-8 text-sec_300 absolute top-4 right-4  lg2:hidden;
          & > svg {
            @apply w-full h-full;
          }
        }
        .form__content {
          @apply grid gap-4;
          @apply lg2:gap-6;
          p > a {
            @apply text-prim_600;
          }
        }
        .fields {
          @apply grid gap-4 lg2:gap-5;
          @screen lg2 {
            grid-template-areas:
              'a a b b c c'
              'd d d e e e'
              'f f f f f f';
            & > *:nth-child(1) {
              grid-area: a;
            }
            & > *:nth-child(2) {
              grid-area: b;
            }
            & > *:nth-child(3) {
              grid-area: c;
            }
            & > *:nth-child(4) {
              grid-area: d;
            }
            & > *:nth-child(5) {
              grid-area: e;
            }
            & > *:nth-child(6) {
              grid-area: f;
            }
          }
        }
      }
      &__bottom {
        @apply flex gap-5 px-4 pt-4;
        @apply lg2:px-10 lg2:pt-10;
        & button {
          @apply w-full;
        }
        background-color: theme('colors.white');
        padding-bottom: max(20px, env(safe-area-inset-bottom, 20px));
        border-radius: theme(spacing.3) theme(spacing.3) 0 0;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        @media (min-width: 1200px) {
          padding-bottom: max(40px, env(safe-area-inset-bottom, 40px));
        }
      }
    }
    .content__full {
      @screen lg2 {
        height: 90vh;
      }
    }
    .content-exit {
      @apply bg-white rounded-4xl p-10 grid absolute top-1/2 transform -translate-y-1/2 gap-4;
      @apply lg2:left-1/2 lg2:-translate-x-1/2 lg2:gap-12;
      @screen lg2 {
        width: 507px;
      }
      &__top {
        @apply grid gap-3;
      }
      &__bottom {
        @apply grid grid-cols-2 gap-5;
      }
      &__title {
        @apply font-intro uppercase -tracking-3.5 text-h3 text-sec_500;
      }
      &__text {
        @apply text-sec_500;
      }
    }

    .content-success {
      @apply bg-white rounded-4xl p-10 grid text-center justify-items-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 gap-6;

      &__icon {
        @apply rounded-xl w-16 h-16 bg-prim_300 grid place-content-center;
        svg {
          @apply text-white;
        }
      }
      &__title {
        @apply font-intro uppercase -tracking-3.5 text-h3 text-sec_500;
      }
      &__text {
        @apply text-sec_500;
      }
      &__middle {
        @apply grid gap-4;
      }
      button {
        @apply w-full;
      }
    }
  }
  .progresses {
    @apply grid;
    &__wrapper {
      @apply flex gap-4 overflow-auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    & > * {
      width: 100%;
    }
  }
  .manager-form {
    .form__content {
      .fields {
        @apply grid gap-4;
        @apply lg2:gap-5;
        @media (min-width: 1200px) {
          grid-template-areas:
            'a a b b'
            'c c d d'
            'e e e e';
          & > *:nth-child(1) {
            grid-area: a;
          }

          & > *:nth-child(2) {
            grid-area: b;
          }

          & > *:nth-child(3) {
            grid-area: c;
          }

          & > *:nth-child(4) {
            grid-area: d;
          }

          & > *:nth-child(5) {
            grid-area: e;
          }
        }
      }
    }
  }
  .ordering-samples-form {
    @screen lg2 {
      height: 880px !important;
    }

    .form__content {
      @apply grid gap-4;
      @apply lg2:gap-6;
      p > a {
        @apply text-prim_600;
      }
    }
    .fields {
      @apply grid gap-4 lg2:gap-5;
      @screen lg2 {
        grid-template-areas:
          'a a b b c c'
          'd d d e e e'
          'f f f f f f';
        & > *:nth-child(1) {
          grid-area: a;
        }
        & > *:nth-child(2) {
          grid-area: b;
        }
        & > *:nth-child(3) {
          grid-area: c;
        }
        & > *:nth-child(4) {
          grid-area: d;
        }
        & > *:nth-child(5) {
          grid-area: e;
        }
        & > *:nth-child(6) {
          grid-area: f;
        }
      }
    }
    .rezume__content {
      &:not(:first-child) {
        @apply mt-6 lg2:mt-8;
      }
      button {
        @apply w-fit;
      }
    }
    .rezume-fields {
      @apply grid grid-cols-1 gap-6;
      @apply lg2:w-[540px];
      &__period {
        @apply grid gap-4;
        .label {
          @apply text-body_s -tracking-3 text-sec_500 font-bold;
        }
        &-selects {
          @apply flex items-center gap-4;
        }
        &-to,
        &-from {
          @apply flex items-center gap-4;
        }
      }
      &__checks {
        @apply grid gap-4;
        .label {
          @apply text-body_s -tracking-3 text-sec_500 font-bold;
        }
        &-list {
          @apply flex gap-5;
        }
        .checkbox__wrapper {
          @apply items-start;
        }
        .checkbox__icon {
          @apply w-4 h-4;
        }
        .checkbox__label {
          @apply text-body_s;
        }

        .checkbox__input:checked ~ .checkbox__label {
          color: inherit;
        }
      }
    }
  }

  .info {
    @apply rounded-3xl p-6 bg-500;
    &__title {
      @apply text-h5 mb-6;
    }
    &__content {
      @apply grid gap-4;
      @apply lg2:grid-cols-2 lg2:gap-16;
    }
    &__contact {
      @apply bg-50 grid gap-6 rounded-[32px] p-6;
      h4 {
        @apply text-h5 font-bold text-sec_500;
      }
      &-links {
        @apply grid lg2:flex gap-8;
      }
      &-link {
        @apply flex items-center gap-3 text-sec_500;
        & > a {
          @apply text-prim_600 text-body_m -tracking-4;
        }
      }
    }
    &__doc {
      @apply grid content-end;
      h4 {
        @apply text-h4 mb-4 font-bold text-sec_500 -tracking-4;
      }
      .downl-item {
        @apply bg-white w-fit;
        @apply lg2:min-w-[278px];
        &__title {
          @apply text-body_m mb-1;
        }
      }
    }
    .accordeon {
      .item {
        &__body {
          @apply mb-0;
        }
        &__head {
          .icon {
            @apply w-4 h-4;
          }
        }

        &.active .item__body {
          @apply mb-6;
        }
      }
    }
  }
  .rezume__content {
    @apply grid gap-6 w-[540px];
    &__title {
      @apply text-sec_500 font-bold text-h5;
    }
    &__list {
      @apply grid gap-8;
      .item:not(:first-child) {
        @apply pt-8 border-t border-prim_100;
      }
    }
  }

  .marquee {
    position: relative;
    overflow: hidden;
    display: grid;
    gap: 16px;
    &__direction {
      overflow: hidden;
      position: relative;
    }
    &__direction-container {
      margin: auto 0;
      white-space: nowrap;
    }
    &__direction-right:first-child {
      position: absolute;
      transform: translateX(-100%);
      top: 0;
      left: -16px;
    }
    &__direction-left:last-child {
      position: absolute;
      top: 0;
    }
  }
}
