include ../../components/svg.pug
section.section.advantages 
  h2.title Преимущества работы в компании
  .list 
    .item
      .item__content
        h4.item__title 01 —
        p.item__text Стабильная компания — <br/> стабильное будущее
      .item__icon
        +svg("chartupline")
    .item
      .item__content
        h4.item__title 02 —
        p.item__text Интересные <br/> развивающие проекты
      .item__icon
        +svg("screenchart")
    .item
      .item__content
        h4.item__title 03 —
        p.item__text Развитые социальные <br class='lg2:hidden'/> программы, <br class='hidden lg2:block'/> программы <br class='lg2:hidden'/> обучения  и повышения квалификации
      .item__icon
        +svg("chalkboard-teacher")
    .item
      .item__content
        h4.item__title 04 —
        p.item__text Создаем безопасные условия труда
      .item__icon
        +svg("sheild-check")
    .item
      .item__content
        h4.item__title 05 —
        p.item__text Заботимся об экологической <br class='lg2:hidden'/> безопасности <br class='hidden lg2:block'/> и охране <br class='lg2:hidden'/> окружающей среды
      .item__icon
        +svg("plant")