.map-container {
  @apply relative overflow-auto bg-white rounded-[2rem] mt-6;
  @apply mt-16;
  &__wrapper {
    height: 540px;
    overflow: auto;
    width: 100%;
  }

  .map {
    height: 100%;
    left: 0;
    overflow: visible !important;
    position: absolute;
    top: 0;
    width: auto;
    @screen lg2 {
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
    &__slider {
      border-radius: 1rem;
    }
  }
  .card-map {
    @apply absolute hidden w-[17.5rem]  overflow-hidden opacity-0;

    &.active {
      @apply opacity-100 block;
    }
    &__wrapper {
      @apply rounded-[1rem] p-4 bg-dark grid gap-4;
    }
    &__top {
      @apply flex justify-between items-center;
      &-content {
        @apply flex items-center gap-3;
      }
    }
    &__close {
      @apply text-white;
    }
    &__flag {
      @apply rounded-full overflow-hidden w-6 h-6;
      img {
        @apply object-cover w-full h-full;
      }
    }
    &__country {
      @apply text-white text-body_m -tracking-4 font-bold;
    }
    &__middle {
      @apply overflow-hidden;
      .swiper-slide {
        @apply h-[8.75rem] rounded-[1rem] overflow-hidden w-full;
        & > img {
          @apply w-full h-full object-cover;
        }
      }
      .prev,
      .next {
        @apply absolute top-1/2 transform -translate-y-1/2 w-8 h-8 grid place-content-center p-0;
        z-index: 1;
        & > svg {
          @apply w-4 h-4 text-white;
        }
      }
      .prev {
        @apply left-0;
      }
      .next {
        @apply right-0;
      }
    }
    &__link {
      @apply rounded-xl py-3 px-4 border border-sec_500 h-12 flex items-center justify-between w-full text-sec_500 text-body_m  font-bold -tracking-4;
      @apply hover:text-prim_200 active:text-prim_500 hover:border-prim_200 active:border-prim_500;
    }
  }
}
