include ../../components/svg.pug
include ../../components/downlItem.pug
section.section.innovative-activity 
  h2.title Инновационная деятельность
  .innovative-activity__list
    .innovative-activity__item
      .innovative-activity__top
        div  
          h2.title Инновационная деятельность
          p.text 
            | Группа компаний САЛАВАТСТЕКЛО успешно прошла сертификацию по стандарту EPD (Environmental Product Declaration).
            br
            | Получение сертификатов EPD подтверждает приверженность компании принципам устойчивого развития и ответственного производства и соответствие продукции самым высоким стандартам экологичности.
            br
            | Сертификат EPD предоставляет полную и достоверную информацию о воздействии стекла на окружающую среду на протяжении всего жизненного цикла — от добычи сырья до утилизации.
            br
            | Сертификат EPD гарантирует покупателям нашей продукции экологическую безопасность стекла. Это особенно важно для дизайн-бюро и строительных компаний, создающих «зеленые» здания и интерьеры.
        img(src=require('/assets/images/innovative-activity.png'), alt="")
      .innovative-activity__bottom  
        +downlItem('Название документа', 'doc, 247.0 Кб','file')
        +downlItem('Название документа', 'doc, 247.0 Кб','file')
    .innovative-activity__item
    .innovative-activity__top
      div  
        h2.title Инновационная деятельность
        p.text 
          | Группа компаний САЛАВАТСТЕКЛО успешно прошла сертификацию по стандарту EPD (Environmental Product Declaration).
          br
          | Получение сертификатов EPD подтверждает приверженность компании принципам устойчивого развития и ответственного производства и соответствие продукции самым высоким стандартам экологичности.
          br
          | Сертификат EPD предоставляет полную и достоверную информацию о воздействии стекла на окружающую среду на протяжении всего жизненного цикла — от добычи сырья до утилизации.
          br
          | Сертификат EPD гарантирует покупателям нашей продукции экологическую безопасность стекла. Это особенно важно для дизайн-бюро и строительных компаний, создающих «зеленые» здания и интерьеры.
      img(src=require('/assets/images/innovative-activity.png'), alt="")
    .innovative-activity__bottom  
      +downlItem('Название документа', 'doc, 247.0 Кб','file')
      +downlItem('Название документа', 'doc, 247.0 Кб','file')
  