include ../../components/svg.pug
section.section.innovative-activity 
  h2.title Инновационная деятельность
  .innovative-activity__content
    .innovative-activity__top
      div.list-text
        p.text Одно из значимых направлений развития АО «Салаватстекло» - инновационная деятельность, в которой может участвовать каждый сотрудник Общества, от рабочего до руководителя. Если у вас есть идея, как усовершенствовать технологический процесс или повысить эффективность предприятия, оформить ее можно просто и доступно.
        p.text
          span Прочитайте ПАМЯТКУ, заполните ЗАЯВЛЕНИЕ, отправьте на электронный адрес 
          a(href="mailto:sna7@salstek.ru") sna7@salstek.ru
          span  или передайте куратору подразделения. 
      div.list-contacts 
        h4.list-contacts__title Контакты
        .list
          .item
            +svg("phone",24)
            a(href="tel:+7 (3476) 37-70-93") +7 (3476) 37-70-93
          .item
            +svg("mail",24)
            a(href="mailto:sna7@salstek.ru ") sna7@salstek.ru 
    .innovative-activity__bottom
      h3.list-title Итоги за 2023 год
      .list 
        .item
          .item__title 42
          .item__text заявлений подано
        .item
          .item__title 24
          .item__text идей внедрено
        .item
          .item__title 28
          .item__text авторов и соавторов
        .item
          .item__title 63,9 млн руб.
          .item__text экономический эффект
        .item
          .item__title 971,9 тыс. руб.
          .item__text премии выплачено