section.section.standarts-other 
  .item 
    img(src=require('/assets/images/standarts/1.png'), alt="")
    .item__bottom
      .item__content 
        .item__content-title 104213/A/0001/UK/RUS
        .item__content-text Система менеджмента качества сертифицирована на соответствие требованиям ISO 9001:2015
  .item 
    img(src=require('/assets/images/standarts/2.png'), alt="")
    .item__bottom
      .item__content 
        .item__content-title 104213/B/0001/SM/RUS
        .item__content-text Система менеджмента качества сертифицирована на соответствие требованиям IATF 16949:2016
  .item
    img(src=require('/assets/images/standarts/2.png'), alt="")
    .item__bottom
      .item__content 
        .item__content-title 104213/BB/0001/SM/RUS
        .item__content-text Система менеджмента качества сертифицированна на соотвествие требованиям ISO 9001:2015
  .item 
    img(src=require('/assets/images/standarts/3.png'), alt="")
    .item__bottom
      .item__content 
        .item__content-title Соответствие <br/> европейским <br/> стандартам 
        