include ../../components/svg.pug
section.news-item-head
    include ../../components/breadcrumbs.pug
    .tag экология
    h2.title 60 лет АО «Салаватстекло»
    .news-item-head__date 
      +svg('clock',16)
      p Дата публикации: 
        span 10 февраля 2023 г.